In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df16 = pd.read_csv("financial_support_2016_datasd.csv")
df15 = pd.read_csv("financial_support_2015_datasd.csv")

In [3]:
df16 = df16.drop(['report_period_from', 'report_period_to', 'intermediary_first', 'intermediary_last', 'intermediary_city', 'intermediary_state', 'intermediary_zip'], axis=1)
df15 = df15.drop(['report_period_from', 'report_period_to', 'intermediary_first', 'intermediary_last', 'intermediary_city', 'intermediary_state', 'intermediary_zip'], axis=1)

In [4]:
df16['contributor_occ'].replace('', np.nan, inplace=True)
df16['contributor_occ'].replace(' ', np.nan, inplace=True)
df15['contributor_occ'].replace('', np.nan, inplace=True)
df15['contributor_occ'].replace(' ', np.nan, inplace=True)
df16.dropna(subset=['contributor_occ'], inplace=True)
df15.dropna(subset=['contributor_occ'], inplace=True)

In [5]:
df_combined = pd.concat([df16, df15])
df_combined

,form,schedule,schedule_description,recipient_id,recipient_name,contributor_code,contributor_last,contributor_first,contributor_city,contributor_state,...,contributor_occ,contribution_date,contribution_amount,contribution_annual,contribution_desc,contributor_id,intermediary_emp,intermediary_occ,filing_id,report_year
0,460,A,Monetary contributions,1382056,Bryan Pease for San Diego City Attorney 2016,IND,LaPadula,Jeffrey,New York,NY,...,Co-owner/manager,2016-02-13T00:00:00.0000000-08:00,100.00,225.00,NaN,NaN,NaN,NaN,165084401,2016
1,460,A,Monetary contributions,1382056,Bryan Pease for San Diego City Attorney 2016,IND,Ables,Louise,San Diego,CA,...,retired,2016-04-11T00:00:00.0000000-07:00,100.00,100.00,NaN,NaN,NaN,NaN,165084401,2016
2,460,A,Monetary contributions,1382056,Bryan Pease for San Diego City Attorney 2016,IND,Osman,Daniel,Carlsbad,CA,...,engineer,2016-06-02T00:00:00.0000000-07:00,100.00,300.00,NaN,NaN,NaN,NaN,165084401,2016
3,460,A,Monetary contributions,1382056,Bryan Pease for San Diego City Attorney 2016,IND,Morgan,Brittany,San Diego,CA,...,sabbatical,2016-05-30T00:00:00.0000000-07:00,150.00,300.00,NaN,NaN,NaN,NaN,165084401,2016
4,460,A,Monetary contributions,1382056,Bryan Pease for San Diego City Attorney 2016,IND,Allman,Carroll,Del Mar,CA,...,legal staff,2016-04-23T00:00:00.0000000-07:00,100.00,100.00,NaN,NaN,NaN,NaN,165084401,2016
5,460,A,Monetary contributions,1382056,Bryan Pease for San Diego City Attorney 2016,IND,Kingsley,Robert,San Diego,CA,...,retired,2016-05-07T00:00:00.0000000-07:00,100.00,100.00,NaN,NaN,NaN,NaN,165084401,2016
6,460,A,Monetary contributions,1382056,Bryan Pease for San Diego City Attorney 2016,IND,Cocca,Christian,San Diego,CA,...,realtor,2016-04-23T00:00:00.0000000-07:00,50.00,100.00,NaN,NaN,NaN,NaN,165084401,2016
7,460,A,Monetary contributions,1382056,Bryan Pease for San Diego City Attorney 2016,IND,Pease,Michael,Fayetteville,NY,...,restaurant owner,2016-01-21T00:00:00.0000000-08:00,200.00,250.00,NaN,NaN,NaN,NaN,165084401,2016
8,460,A,Monetary contributions,1382056,Bryan Pease for San Diego City Attorney 2016,IND,Dillard,Carter,San Francisco,CA,...,attorney,2016-04-28T00:00:00.0000000-07:00,250.00,250.00,NaN,NaN,NaN,NaN,165084401,2016
9,460,A,Monetary contributions,1382056,Bryan Pease for San Diego City Attorney 2016,IND,Becker-Varano,Tama,San Diego,CA,...,CPA,2016-03-26T00:00:00.0000000-07:00,100.00,100.00,NaN,NaN,NaN,NaN,165084401,2016
10,460,A,Monetary contributions,1382056,Bryan Pease for San Diego City Attorney 2016,IND,Newkirk,Ingrid,Norfolk,VA,...,"President, co-founder",2016-01-11T00:00:00.0000000-08:00,100.00,200.00,NaN,NaN,NaN,NaN,165084401,2016
11,460,A,Monetary contributions,1379382,Sarah Saez for District 9 City Council 2016,IND,Rodriguez,Roberto,Vista,CA,...,Teacher,2016-04-29T00:00:00.0000000-07:00,100.00,100.00,NaN,NaN,NaN,NaN,165179534,2016
12,460,A,Monetary contributions,1379382,Sarah Saez for District 9 City Council 2016,IND,Sasso,Paul,San Diego,CA,...,Student,2016-05-10T00:00:00.0000000-07:00,250.00,350.00,NaN,NaN,NaN,NaN,165179534,2016
13,460,A,Monetary contributions,1379382,Sarah Saez for District 9 City Council 2016,IND,Osman,Daniel,Carlsbad,CA,...,Engineer,2016-06-02T00:00:00.0000000-07:00,100.00,300.00,NaN,NaN,NaN,NaN,165179613,2016
14,460,A,Monetary contributions,1377818,Mara Elliott for San Diego City Attorney 2016,IND,Callahan,Heidi,San Diego,CA,...,Sales,2016-10-31T00:00:00.0000000-07:00,250.00,550.00,NaN,NaN,NaN,NaN,163077352,2016
15,460,A,Monetary contributions,1377818,Mara Elliott for San Diego City Attorney 2016,IND,Hughes,Shay,Rancho Santa Fe,CA,...,COO,2016-10-31T00:00:00.0000000-07:00,1050.00,1050.00,NaN,NaN,NaN,NaN,163077352,2016
16,460,A,Monetary contributions,1377818,Mara Elliott for San Diego City Attorney 2016,IND,Black,Laurie,San Diego,CA,...,Consulting,2016-11-07T00:00:00.0000000-08:00,250.00,750.00,NaN,NaN,NaN,NaN,163077352,2016
17,460,A,Monetary contributions,1377818,Mara Elliott for San Diego City Attorney 2016,IND,Mazza,Peter,San Diego,CA,...,Lawyer,2016-11-02T00:00:00.0000000-07:00,250.00,250.00,NaN,NaN,NaN,NaN,163077352,2016
18,460,A,Monetary contributions,1377818,Mara Elliott for San Diego City Attorney 2016,IND,Mendoza,Sherman,San Diego,CA,...,Owner,2016-12-28T00:00:00.0000000-08:00,-1000.00,0.00,NaN,NaN,NaN,NaN,163077352,2016
19,460,A,Monetary contributions,1377818,Mara Elliott for San Diego City Attorney 2016,IND,Dumanis,Ann,San Diego,CA,...,Retired,2016-11-01T00:00:00.0000000-07:00,100.00,100.00,NaN,NaN,NaN,NaN,163077352,2016
20,460,A,Monetary contributions,1377818,Mara Elliott for San Diego City Attorney 2016,IND,Goldsmith,Jan,Coronado,CA,...,Attorney,2016-12-08T00:00:00.0000000-08:00,250.00,250.00,NaN,NaN,NaN,NaN,163077352,2016
21,460,A,Monetary contributions,1377818,Mara Elliott for San Diego City Attorney 2016,IND,Zellmann-Price,Denise,San Diego,CA,...,Lobbyist,2016-12-30T00:00:00.0000000-08:00,125.00,200.00,NaN,NaN,NaN,NaN,163077352,2016
22,460,A,Monetary contributions,1377818,Mara Elliott for San Diego City Attorney 2016,IND,Street,Joe,La Mesa,CA,...,CEO,2016-10-27T00:00:00.0000000-07:00,1050.00,1050.00,NaN,NaN,NaN,NaN,163077352,2016
23,460,A,Monetary contributions,1377818,Mara Elliott for San Diego City Attorney 2016,IND,Quient,Jared,San Diego,CA,...,Senior Vice President,2016-10-24T00:00:00.0000000-07:00,250.00,750.00,NaN,NaN,NaN,NaN,163077352,2016
24,460,A,Monetary contributions,1377818,Mara Elliott for San Diego City Attorney 2016,IND,Sarti,Janine,Poway,CA,...,General Counsel,2016-11-01T00:00:00.0000000-07:00,100.00,200.00,NaN,NaN,NaN,NaN,163077352,2016
25,460,A,Monetary contributions,1377434,Gomez for City Council 2016,IND,Cavanaugh,Steven,Charlotte,NC,...,Marketing,2016-11-04T00:00:00.0000000-07:00,50.00,550.00,NaN,NaN,NaN,NaN,163083630,2016
26,460,A,Monetary contributions,1377434,Gomez for City Council 2016,IND,Saathoff,Stephanie,San Diego,CA,...,President,2016-10-27T00:00:00.0000000-07:00,250.00,250.00,NaN,NaN,NaN,NaN,163083630,2016
29,460,A,Monetary contributions,1360787,Chris Ward for City Council 2016,IND,Spector,Alan,San Diego,CA,...,Physician,2016-09-13T00:00:00.0000000-07:00,100.00,100.00,NaN,NaN,NaN,NaN,162466869,2016
30,460,A,Monetary contributions,1360787,Chris Ward for City Council 2016,IND,Zakar,Robert,San Diego,CA,...,Owner,2016-11-14T00:00:00.0000000-08:00,500.00,500.00,NaN,NaN,NaN,NaN,162466869,2016
31,460,A,Monetary contributions,1360787,Chris Ward for City Council 2016,IND,Ross,Chuck,San Diego,CA,...,Restaurant Owner,2016-07-27T00:00:00.0000000-07:00,250.00,350.00,NaN,NaN,NaN,NaN,162466869,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11151,460,C,Non monetary contributions,1379382,Sarah Saez for District 9 City Council 2016,IND,Godinez,Melody,San Diego,CA,...,Civil Servant,2015-07-01T00:00:00.0000000-07:00,82.19,432.19,Drink Donations,NaN,NaN,NaN,165178956,2015
11154,460,C,Non monetary contributions,1377498,Sherman for City Council 2016,IND,Siegel,William,San Diego,CA,...,CEO/Engineer,2015-10-13T00:00:00.0000000-07:00,250.00,250.00,Hosted fundraiser,NaN,NaN,NaN,158349362,2015
11155,460,C,Non monetary contributions,1377498,Sherman for City Council 2016,IND,Wong,Simon L.,San Diego,CA,...,Vice President,2015-10-13T00:00:00.0000000-07:00,82.32,332.32,Hosted fundraiser,NaN,NaN,NaN,158349362,2015
11156,460,C,Non monetary contributions,1377462,Ray Ellis for Council 2016,IND,Renda,Tony,La Jolla,CA,...,Owner,2015-10-07T00:00:00.0000000-07:00,546.00,546.00,Hosted fundraiser,NaN,NaN,NaN,158358971,2015
11157,460,C,Non monetary contributions,1377462,Ray Ellis for Council 2016,IND,Aitken,Phil,La Jolla,CA,...,Partner,2015-10-07T00:00:00.0000000-07:00,300.00,300.00,Beer for fundraiser,NaN,NaN,NaN,158358971,2015
11158,460,C,Non monetary contributions,1377462,Ray Ellis for Council 2016,IND,Lange,Ted,Carlsbad,CA,...,Partner,2015-10-07T00:00:00.0000000-07:00,300.00,300.00,Beer for fundraiser,NaN,NaN,NaN,158358971,2015
11162,460,C,Non monetary contributions,1378621,Rebecca Paida for San Diego City Council Distr...,IND,Paida,Rebecca,San Diego,CA,...,Senior Program Manager,2015-12-06T00:00:00.0000000-08:00,28.42,1444.62,Postage,NaN,NaN,NaN,158417526,2015
11163,460,C,Non monetary contributions,1378621,Rebecca Paida for San Diego City Council Distr...,IND,Paida,Rebecca,San Diego,CA,...,Senior Program Manager,2015-12-21T00:00:00.0000000-08:00,27.93,1444.62,Postage,NaN,NaN,NaN,158417526,2015
11164,460,C,Non monetary contributions,1377265,Barbara Bry for City Council District 1 2016,IND,Caniglia,Nico,La Jolla,CA,...,Restaurant Owner,2015-10-21T00:00:00.0000000-07:00,274.50,274.50,Food & Beverage,NaN,NaN,NaN,158474529,2015
11165,460,C,Non monetary contributions,1377265,Barbara Bry for City Council District 1 2016,IND,Caniglia,Amanda,La Jolla,CA,...,Restaurant Owner,2015-10-21T00:00:00.0000000-07:00,500.00,500.00,Food & Beverage,NaN,NaN,NaN,158474529,2015
11166,460,C,Non monetary contributions,1377572,Flores for City Council 2016,IND,Velazquez,Cynara,San Diego,CA,...,Director,2015-12-30T00:00:00.0000000-08:00,291.37,291.37,Food & Beverage,NaN,NaN,NaN,158475040,2015
11167,460,C,Non monetary contributions,1377572,Flores for City Council 2016,IND,Hong,Austin,San Diego,CA,...,Sr. Manager,2015-11-12T00:00:00.0000000-08:00,488.94,488.94,Catering,NaN,NaN,NaN,158475040,2015
11168,460,C,Non monetary contributions,1377572,Flores for City Council 2016,IND,MacGurn,Jeff,San Diego,CA,...,Sr. Vice President,2015-11-12T00:00:00.0000000-08:00,509.24,509.24,Beverages,NaN,NaN,NaN,158475040,2015
11169,460,C,Non monetary contributions,1377572,Flores for City Council 2016,IND,Falcon,Clarissa,San Diego,CA,...,Principal,2015-12-08T00:00:00.0000000-08:00,321.00,421.00,Food & Beverage,NaN,NaN,NaN,158475040,2015
11170,460,C,Non monetary contributions,1374483,Cabrera for City Attorney 2016,IND,Simon,Leonard,La Jolla,CA,...,Attorney,2015-10-09T00:00:00.0000000-07:00,406.98,1456.98,Food & Beverages,NaN,NaN,NaN,158481224,2015
11171,460,C,Non monetary contributions,1374483,Cabrera for City Attorney 2016,IND,Quient,Jamie,San Diego,CA,...,Attorney,2015-10-19T00:00:00.0000000-07:00,18.00,1068.00,Donuts,NaN,NaN,NaN,158481224,2015
11172,460,C,Non monetary contributions,1374483,Cabrera for City Attorney 2016,IND,Carroll,Candace M.,La Jolla,NaN,...,Attorney,2015-10-09T00:00:00.0000000-07:00,500.00,1550.00,Food & Beverages,NaN,NaN,NaN,158481224,2015
11173,460,C,Non monetary contributions,1374483,Cabrera for City Attorney 2016,IND,Georgopoulos,Michael,San Diego,CA,...,Partner/Co-Owner,2015-11-19T00:00:00.0000000-08:00,600.00,600.00,Food & Beverages,NaN,NaN,NaN,158481224,2015
11174,460,C,Non monetary contributions,1360787,Chris Ward for City Council 2016,IND,Jones,Eric,San Diego,CA,...,President,2015-12-03T00:00:00.0000000-08:00,45.84,420.84,Food,NaN,NaN,NaN,158484830,2015
11175,460,C,Non monetary contributions,1360787,Chris Ward for City Council 2016,IND,Miller,Kimberly,Escondido,CA,...,Partner,2015-12-02T00:00:00.0000000-08:00,140.23,549.99,Food & Beverages,NaN,NaN,NaN,158484830,2015
11176,460,C,Non monetary contributions,1377434,Gomez for City Council 2016,IND,Garner,Shane,Victorville,CA,...,Graphic Designer,2015-12-19T00:00:00.0000000-08:00,195.00,195.00,Art piece/photograph,NaN,NaN,NaN,158487397,2015
11177,460,C,Non monetary contributions,1377434,Gomez for City Council 2016,IND,Apostol,Marisol,San Diego,CA,...,Jewler,2015-12-19T00:00:00.0000000-08:00,120.00,120.00,Necklace and 2 key charms,NaN,NaN,NaN,158487397,2015
11178,460,C,Non monetary contributions,1377434,Gomez for City Council 2016,IND,Ha,Thao,Oceanside,CA,...,Professor,2015-12-19T00:00:00.0000000-08:00,150.00,150.00,"2 pair of earnings, 1 jewelry set, and 1 brace...",NaN,NaN,NaN,158487397,2015
11179,460,C,Non monetary contributions,1377434,Gomez for City Council 2016,IND,Salinas,Aisha,La Mesa,CA,...,Hairstylist,2015-12-19T00:00:00.0000000-08:00,165.00,165.00,Salon Gift Certificate,NaN,NaN,NaN,158487397,2015
11180,460,C,Non monetary contributions,1377181,Faulconer for Mayor 2016,IND,Hage,Aber,Poway,CA,...,Homemaker,2015-12-11T00:00:00.0000000-08:00,1000.00,1000.00,Hosted fundraiser,NaN,NaN,NaN,158990619,2015
11181,460,C,Non monetary contributions,1377181,Faulconer for Mayor 2016,IND,Sullivan,Leo,San Diego,CA,...,Laywer,2015-11-19T00:00:00.0000000-08:00,773.44,773.44,Hosted fundraiser,NaN,NaN,NaN,158990619,2015
11182,460,C,Non monetary contributions,1377181,Faulconer for Mayor 2016,IND,Neil,Michael I.,San Diego,CA,...,Attorney,2015-11-19T00:00:00.0000000-08:00,525.00,1050.00,Hosted fundraiser,NaN,NaN,NaN,158990619,2015
11186,460,C,Non monetary contributions,1377481,Hickey for City Attorney 2016,IND,Boling,C. April,San Diego,CA,...,CPA,2015-10-01T00:00:00.0000000-07:00,150.00,900.00,Ticket to event,NaN,NaN,NaN,160269971,2015
11187,460,C,Non monetary contributions,1377481,Hickey for City Attorney 2016,IND,Boling,C. April,San Diego,CA,...,CPA,2015-11-05T00:00:00.0000000-08:00,250.00,900.00,Ticket to event,NaN,NaN,NaN,160269971,2015
11189,460,C,Non monetary contributions,1380972,Citizens for the Responsible Mgmt of Major Tou...,IND,Peace,Chad,San Diego,CA,...,President,2015-12-04T00:00:00.0000000-08:00,159.57,159.57,CMP,NaN,NaN,NaN,161928050,2015

In [6]:
df_combined['council'] = df_combined['recipient_name'].str.lower()
df_combined = df_combined[df_combined['council'].str.contains('council')]
df_combined = df_combined.drop(['council'], axis=1)

In [7]:
df_combined.groupby(['recipient_id', 'recipient_name']).size().sort_values(ascending=False)

recipient_id  recipient_name
1377462       Ray Ellis for Council 2016                                                                                                                                                                       1878
1377265       Barbara Bry for City Council District 1 2016                                                                                                                                                     1758
1377572       Flores for City Council 2016                                                                                                                                                                     1188
1377498       Sherman for City Council 2016                                                                                                                                                                    1142
1360787       Chris Ward for City Council 2016                                                                                                                                                                 1095
1377434       Gomez for City Council 2016                                                                                                                                                                      1016
1376415       Anthony Bernal for City Council 2016                                                                                                                                                              672
1377859       Kersey for Council 2016                                                                                                                                                                           431
1366502       Justin DeCesare For District 7 San Diego City Council 2016                                                                                                                                        276
1377726       Joe LaCava for City Council 2016                                                                                                                                                                  248
1356881       Cate for Council 2014                                                                                                                                                                             224
1379382       Sarah Saez for District 9 City Council 2016                                                                                                                                                       163
1378201       Jose Caballero for City Council District 7 2016                                                                                                                                                   109
1378621       Rebecca Paida for San Diego City Council District 9, 2016                                                                                                                                          46
1380119       Mikas for Council 2016                                                                                                                                                                             33
1380862       Sam Bedwell For City Council 2016                                                                                                                                                                  16
1378462       Araceli Martinez for San Diego City Council District 9 2016                                                                                                                                        13
1378009       Scott Sanborn City Council 2016                                                                                                                                                                    11
1384079       Tami Le Murillo for Council 2016                                                                                                                                                                    9
1362102       Myrtle Cole For City Council 2014                                                                                                                                                                   5
1384220       Bruce Lightner for City Council 2016                                                                                                                                                                5
1383220       Coastal Communities for a Fair Economy supporting Ray Ellis for Council 2016 spnsrd by and w/ major funding from San Diego Regional Chamber of Commerce PAC and the Lincoln Club of SD county       4
1358131       Mitz Lee for City Council 2014                                                                                                                                                                      2
dtype: int64

In [8]:
df_combined['contributor_occ'] = df_combined['contributor_occ'].str.title()
df_combined

,form,schedule,schedule_description,recipient_id,recipient_name,contributor_code,contributor_last,contributor_first,contributor_city,contributor_state,...,contributor_occ,contribution_date,contribution_amount,contribution_annual,contribution_desc,contributor_id,intermediary_emp,intermediary_occ,filing_id,report_year
11,460,A,Monetary contributions,1379382,Sarah Saez for District 9 City Council 2016,IND,Rodriguez,Roberto,Vista,CA,...,Teacher,2016-04-29T00:00:00.0000000-07:00,100.00,100.00,NaN,NaN,NaN,NaN,165179534,2016
12,460,A,Monetary contributions,1379382,Sarah Saez for District 9 City Council 2016,IND,Sasso,Paul,San Diego,CA,...,Student,2016-05-10T00:00:00.0000000-07:00,250.00,350.00,NaN,NaN,NaN,NaN,165179534,2016
13,460,A,Monetary contributions,1379382,Sarah Saez for District 9 City Council 2016,IND,Osman,Daniel,Carlsbad,CA,...,Engineer,2016-06-02T00:00:00.0000000-07:00,100.00,300.00,NaN,NaN,NaN,NaN,165179613,2016
25,460,A,Monetary contributions,1377434,Gomez for City Council 2016,IND,Cavanaugh,Steven,Charlotte,NC,...,Marketing,2016-11-04T00:00:00.0000000-07:00,50.00,550.00,NaN,NaN,NaN,NaN,163083630,2016
26,460,A,Monetary contributions,1377434,Gomez for City Council 2016,IND,Saathoff,Stephanie,San Diego,CA,...,President,2016-10-27T00:00:00.0000000-07:00,250.00,250.00,NaN,NaN,NaN,NaN,163083630,2016
29,460,A,Monetary contributions,1360787,Chris Ward for City Council 2016,IND,Spector,Alan,San Diego,CA,...,Physician,2016-09-13T00:00:00.0000000-07:00,100.00,100.00,NaN,NaN,NaN,NaN,162466869,2016
30,460,A,Monetary contributions,1360787,Chris Ward for City Council 2016,IND,Zakar,Robert,San Diego,CA,...,Owner,2016-11-14T00:00:00.0000000-08:00,500.00,500.00,NaN,NaN,NaN,NaN,162466869,2016
31,460,A,Monetary contributions,1360787,Chris Ward for City Council 2016,IND,Ross,Chuck,San Diego,CA,...,Restaurant Owner,2016-07-27T00:00:00.0000000-07:00,250.00,350.00,NaN,NaN,NaN,NaN,162466869,2016
32,460,A,Monetary contributions,1360787,Chris Ward for City Council 2016,IND,Wong,Simon,San Diego,CA,...,Vice President,2016-10-21T00:00:00.0000000-07:00,250.00,250.00,NaN,NaN,NaN,NaN,162466869,2016
33,460,A,Monetary contributions,1360787,Chris Ward for City Council 2016,IND,Rice,Colin,San Diego,CA,...,Partner,2016-07-26T00:00:00.0000000-07:00,250.00,250.00,NaN,NaN,NaN,NaN,162466869,2016
34,460,A,Monetary contributions,1360787,Chris Ward for City Council 2016,IND,Kassab,Muayad,San Diego,CA,...,Owner,2016-10-05T00:00:00.0000000-07:00,500.00,500.00,NaN,NaN,NaN,NaN,162466869,2016
35,460,A,Monetary contributions,1360787,Chris Ward for City Council 2016,IND,Tate,Phillip,Santa Monica,CA,...,Attorney,2016-09-24T00:00:00.0000000-07:00,100.00,100.00,NaN,NaN,NaN,NaN,162466869,2016
36,460,A,Monetary contributions,1360787,Chris Ward for City Council 2016,IND,Sauder,Kenneth,San Diego,CA,...,Ceo,2016-09-14T00:00:00.0000000-07:00,100.00,250.00,NaN,NaN,NaN,NaN,162466869,2016
38,460,A,Monetary contributions,1377498,Sherman for City Council 2016,IND,Cody,Gregory S.,Valley Center,CA,...,Student,2016-10-09T00:00:00.0000000-07:00,10.00,10.00,NaN,NaN,NaN,NaN,162702260,2016
39,460,A,Monetary contributions,1377498,Sherman for City Council 2016,IND,Nooner,Scott,San Diego,CA,...,Chief Tech Officer,2016-11-07T00:00:00.0000000-08:00,550.00,550.00,NaN,NaN,NaN,NaN,162702260,2016
40,460,A,Monetary contributions,1377498,Sherman for City Council 2016,IND,Ellis,Raymond G.,San Diego,CA,...,Manager,2016-11-30T00:00:00.0000000-08:00,450.00,450.00,NaN,NaN,NaN,NaN,162702260,2016
151,460,A,Monetary contributions,1377265,Barbara Bry for City Council District 1 2016,IND,Sudberry,Colton,San Diego,CA,...,President,2016-10-19T00:00:00.0000000-07:00,550.00,550.00,NaN,NaN,NaN,NaN,162117114,2016
153,460,A,Monetary contributions,1377434,Gomez for City Council 2016,IND,Avila,Angie,Sacramento,CA,...,Retired,2016-10-03T00:00:00.0000000-07:00,100.00,100.00,NaN,NaN,NaN,NaN,162138668,2016
154,460,A,Monetary contributions,1377434,Gomez for City Council 2016,IND,Kambo,Sandeep,San Diego,CA,...,Owner,2016-10-11T00:00:00.0000000-07:00,550.00,550.00,NaN,NaN,NaN,NaN,162138668,2016
155,460,A,Monetary contributions,1377434,Gomez for City Council 2016,IND,Stone,Rodney,"La Jolla,",CA,...,Real Estate,2016-10-18T00:00:00.0000000-07:00,250.00,250.00,NaN,NaN,NaN,NaN,162138668,2016
260,460,A,Monetary contributions,1377265,Barbara Bry for City Council District 1 2016,IND,Murphy,Michael,La Mesa,CA,...,General Manager,2016-11-03T00:00:00.0000000-07:00,250.00,250.00,NaN,NaN,NaN,NaN,162901162,2016
261,460,A,Monetary contributions,1377265,Barbara Bry for City Council District 1 2016,IND,Grijalva,Jesus,San Diego,CA,...,Attorney,2016-11-01T00:00:00.0000000-07:00,250.00,250.00,NaN,NaN,NaN,NaN,162901162,2016
262,460,A,Monetary contributions,1377265,Barbara Bry for City Council District 1 2016,IND,Raimundo,Jeffery,Carmichael,CA,...,Retired,2016-10-27T00:00:00.0000000-07:00,250.00,500.00,NaN,NaN,NaN,NaN,162901162,2016
263,460,A,Monetary contributions,1377572,Flores for City Council 2016,IND,Serna,Martin,Torrence,CA,...,Fire Chief,2016-11-01T00:00:00.0000000-07:00,250.00,250.00,NaN,NaN,NaN,NaN,162993920,2016
264,460,A,Monetary contributions,1377572,Flores for City Council 2016,IND,Sowers,John A.,Poway,CA,...,Vp Electric Distribution,2016-11-01T00:00:00.0000000-07:00,150.00,150.00,NaN,NaN,NaN,NaN,162993920,2016
265,460,A,Monetary contributions,1377572,Flores for City Council 2016,IND,Johnson,Mary Ann,Jamul,CA,...,Homemaker,2016-11-15T00:00:00.0000000-08:00,200.00,200.00,NaN,NaN,NaN,NaN,162993920,2016
266,460,A,Monetary contributions,1377572,Flores for City Council 2016,IND,Garland,Cedric F.,San Diego,CA,...,Epidemiologist,2016-10-28T00:00:00.0000000-07:00,25.00,175.00,NaN,NaN,NaN,NaN,162993920,2016
292,460,A,Monetary contributions,1384079,Tami Le Murillo for Council 2016,IND,Murillo,Tami Le,San Diego,CA,...,Nursing,2016-04-15T00:00:00.0000000-07:00,3000.00,3375.87,NaN,NaN,NaN,NaN,163035898,2016
296,460,A,Monetary contributions,1377265,Barbara Bry for City Council District 1 2016,IND,Dow,Karen,La Jolla,CA,...,Retired,2016-08-04T00:00:00.0000000-07:00,250.00,800.00,NaN,NaN,NaN,NaN,161746689,2016
297,460,A,Monetary contributions,1377265,Barbara Bry for City Council District 1 2016,IND,Drucker,David S,Del Mar,CA,...,Vice President,2016-09-24T00:00:00.0000000-07:00,100.00,100.00,NaN,NaN,NaN,NaN,161746689,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11134,460,C,Non monetary contributions,1378621,Rebecca Paida for San Diego City Council Distr...,IND,Paida,Rebecca,San Diego,CA,...,Senior Program Manager,2015-08-14T00:00:00.0000000-07:00,4.99,1444.62,Key,NaN,NaN,NaN,158417526,2015
11135,460,C,Non monetary contributions,1378621,Rebecca Paida for San Diego City Council Distr...,IND,Lou,Elizabeth,San Diego,CA,...,President/Ceo,2015-07-09T00:00:00.0000000-07:00,32.21,1093.01,Food,NaN,NaN,NaN,158417526,2015
11136,460,C,Non monetary contributions,1378621,Rebecca Paida for San Diego City Council Distr...,IND,Paida,Rebecca,San Diego,CA,...,Senior Program Manager,2015-07-10T00:00:00.0000000-07:00,1.42,1444.62,Postage,NaN,NaN,NaN,158417526,2015
11137,460,C,Non monetary contributions,1378621,Rebecca Paida for San Diego City Council Distr...,IND,Paida,Rebecca,San Diego,CA,...,Senior Program Manager,2015-07-16T00:00:00.0000000-07:00,1.86,1444.62,Postage,NaN,NaN,NaN,158417526,2015
11138,460,C,Non monetary contributions,1378621,Rebecca Paida for San Diego City Council Distr...,IND,Lou,Elizabeth,San Diego,CA,...,President/Ceo,2015-07-02T00:00:00.0000000-07:00,10.80,1093.01,Food,NaN,NaN,NaN,158417526,2015
11139,460,C,Non monetary contributions,1378621,Rebecca Paida for San Diego City Council Distr...,IND,Chuol,Nyamal,La Mesa,CA,...,Patient Service Representative,2015-09-04T00:00:00.0000000-07:00,50.00,100.00,Refrigerator loan,NaN,NaN,NaN,158417526,2015
11141,460,C,Non monetary contributions,1378462,Araceli Martinez for San Diego City Council Di...,IND,Martinez,Araceli,San Diego,CA,...,Attorney,2015-07-08T00:00:00.0000000-07:00,0.93,328.60,Postage,NaN,NaN,NaN,158445755,2015
11143,460,C,Non monetary contributions,1360787,Chris Ward for City Council 2016,IND,Block,Marty,San Diego,CA,...,State Senator,2015-07-17T00:00:00.0000000-07:00,93.31,339.31,Food,NaN,NaN,NaN,158484830,2015
11144,460,C,Non monetary contributions,1360787,Chris Ward for City Council 2016,IND,Zlotnik,Andrew,San Diego,CA,...,Attorney,2015-09-18T00:00:00.0000000-07:00,122.19,122.19,Food,NaN,NaN,NaN,158484830,2015
11145,460,C,Non monetary contributions,1360787,Chris Ward for City Council 2016,IND,Block,Marty,San Diego,CA,...,State Senator,2015-07-10T00:00:00.0000000-07:00,246.00,339.31,Airfare SAN-SMF 8/18-8/19/2015 for Fundraiser,NaN,NaN,NaN,158484830,2015
11151,460,C,Non monetary contributions,1379382,Sarah Saez for District 9 City Council 2016,IND,Godinez,Melody,San Diego,CA,...,Civil Servant,2015-07-01T00:00:00.0000000-07:00,82.19,432.19,Drink Donations,NaN,NaN,NaN,165178956,2015
11154,460,C,Non monetary contributions,1377498,Sherman for City Council 2016,IND,Siegel,William,San Diego,CA,...,Ceo/Engineer,2015-10-13T00:00:00.0000000-07:00,250.00,250.00,Hosted fundraiser,NaN,NaN,NaN,158349362,2015
11155,460,C,Non monetary contributions,1377498,Sherman for City Council 2016,IND,Wong,Simon L.,San Diego,CA,...,Vice President,2015-10-13T00:00:00.0000000-07:00,82.32,332.32,Hosted fundraiser,NaN,NaN,NaN,158349362,2015
11156,460,C,Non monetary contributions,1377462,Ray Ellis for Council 2016,IND,Renda,Tony,La Jolla,CA,...,Owner,2015-10-07T00:00:00.0000000-07:00,546.00,546.00,Hosted fundraiser,NaN,NaN,NaN,158358971,2015
11157,460,C,Non monetary contributions,1377462,Ray Ellis for Council 2016,IND,Aitken,Phil,La Jolla,CA,...,Partner,2015-10-07T00:00:00.0000000-07:00,300.00,300.00,Beer for fundraiser,NaN,NaN,NaN,158358971,2015
11158,460,C,Non monetary contributions,1377462,Ray Ellis for Council 2016,IND,Lange,Ted,Carlsbad,CA,...,Partner,2015-10-07T00:00:00.0000000-07:00,300.00,300.00,Beer for fundraiser,NaN,NaN,NaN,158358971,2015
11162,460,C,Non monetary contributions,1378621,Rebecca Paida for San Diego City Council Distr...,IND,Paida,Rebecca,San Diego,CA,...,Senior Program Manager,2015-12-06T00:00:00.0000000-08:00,28.42,1444.62,Postage,NaN,NaN,NaN,158417526,2015
11163,460,C,Non monetary contributions,1378621,Rebecca Paida for San Diego City Council Distr...,IND,Paida,Rebecca,San Diego,CA,...,Senior Program Manager,2015-12-21T00:00:00.0000000-08:00,27.93,1444.62,Postage,NaN,NaN,NaN,158417526,2015
11164,460,C,Non monetary contributions,1377265,Barbara Bry for City Council District 1 2016,IND,Caniglia,Nico,La Jolla,CA,...,Restaurant Owner,2015-10-21T00:00:00.0000000-07:00,274.50,274.50,Food & Beverage,NaN,NaN,NaN,158474529,2015
11165,460,C,Non monetary contributions,1377265,Barbara Bry for City Council District 1 2016,IND,Caniglia,Amanda,La Jolla,CA,...,Restaurant Owner,2015-10-21T00:00:00.0000000-07:00,500.00,500.00,Food & Beverage,NaN,NaN,NaN,158474529,2015
11166,460,C,Non monetary contributions,1377572,Flores for City Council 2016,IND,Velazquez,Cynara,San Diego,CA,...,Director,2015-12-30T00:00:00.0000000-08:00,291.37,291.37,Food & Beverage,NaN,NaN,NaN,158475040,2015
11167,460,C,Non monetary contributions,1377572,Flores for City Council 2016,IND,Hong,Austin,San Diego,CA,...,Sr. Manager,2015-11-12T00:00:00.0000000-08:00,488.94,488.94,Catering,NaN,NaN,NaN,158475040,2015
11168,460,C,Non monetary contributions,1377572,Flores for City Council 2016,IND,MacGurn,Jeff,San Diego,CA,...,Sr. Vice President,2015-11-12T00:00:00.0000000-08:00,509.24,509.24,Beverages,NaN,NaN,NaN,158475040,2015
11169,460,C,Non monetary contributions,1377572,Flores for City Council 2016,IND,Falcon,Clarissa,San Diego,CA,...,Principal,2015-12-08T00:00:00.0000000-08:00,321.00,421.00,Food & Beverage,NaN,NaN,NaN,158475040,2015
11174,460,C,Non monetary contributions,1360787,Chris Ward for City Council 2016,IND,Jones,Eric,San Diego,CA,...,President,2015-12-03T00:00:00.0000000-08:00,45.84,420.84,Food,NaN,NaN,NaN,158484830,2015
11175,460,C,Non monetary contributions,1360787,Chris Ward for City Council 2016,IND,Miller,Kimberly,Escondido,CA,...,Partner,2015-12-02T00:00:00.0000000-08:00,140.23,549.99,Food & Beverages,NaN,NaN,NaN,158484830,2015
11176,460,C,Non monetary contributions,1377434,Gomez for City Council 2016,IND,Garner,Shane,Victorville,CA,...,Graphic Designer,2015-12-19T00:00:00.0000000-08:00,195.00,195.00,Art piece/photograph,NaN,NaN,NaN,158487397,2015
11177,460,C,Non monetary contributions,1377434,Gomez for City Council 2016,IND,Apostol,Marisol,San Diego,CA,...,Jewler,2015-12-19T00:00:00.0000000-08:00,120.00,120.00,Necklace and 2 key charms,NaN,NaN,NaN,158487397,2015
11178,460,C,Non monetary contributions,1377434,Gomez for City Council 2016,IND,Ha,Thao,Oceanside,CA,...,Professor,2015-12-19T00:00:00.0000000-08:00,150.00,150.00,"2 pair of earnings, 1 jewelry set, and 1 brace...",NaN,NaN,NaN,158487397,2015
11179,460,C,Non monetary contributions,1377434,Gomez for City Council 2016,IND,Salinas,Aisha,La Mesa,CA,...,Hairstylist,2015-12-19T00:00:00.0000000-08:00,165.00,165.00,Salon Gift Certificate,NaN,NaN,NaN,158487397,2015

In [9]:
df_by_id = df_combined.groupby(['recipient_id', 'contributor_occ']).size().reset_index(name='Count')

In [10]:
barbara_bry = df_by_id[df_by_id['recipient_id'] == '1377265'].sort_values(by='Count', ascending=False)
barbara_bry.head() #district 1, dem, won

     recipient_id contributor_occ  Count
1084      1377265         Retired    395
774       1377265        Attorney    171
1022      1377265       President     82
793       1377265             Ceo     80
944       1377265       Homemaker     53

In [11]:
ray_ellis = df_by_id[df_by_id['recipient_id'] == '1377462'].sort_values(by='Count', ascending=False)
ray_ellis.head() #district 1, rep, lost

     recipient_id contributor_occ  Count
1775      1377462         Retired    231
1428      1377462        Attorney    126
1595      1377462       Homemaker    121
1693      1377462       President     97
1733      1377462     Real Estate     75

In [12]:
chris_ward = df_by_id[df_by_id['recipient_id'] == '1360787'].sort_values(by='Count', ascending=False)
chris_ward.head() #district 3, dem, won

    recipient_id contributor_occ  Count
411      1360787         Retired    140
148      1360787        Attorney    119
362      1360787       President     57
333      1360787           Owner     27
166      1360787             Ceo     27

In [13]:
mark_kersey = df_by_id[df_by_id['recipient_id'] == '1377859'].sort_values(by='Count', ascending=False)
mark_kersey.head() #district 5, rep, won

     recipient_id contributor_occ  Count
2765      1377859       President     38
2797      1377859         Retired     37
2667      1377859        Attorney     23
2777      1377859     Real Estate     17
2758      1377859           Owner     14

In [14]:
scott_sherman = df_by_id[df_by_id['recipient_id'] == '1377498'].sort_values(by='Count', ascending=False)
scott_sherman.head() #district 7, rep, won

     recipient_id contributor_occ  Count
2163      1377498         Retired    139
2105      1377498       President     69
2034      1377498       Homemaker     54
1896      1377498        Attorney     52
1918      1377498             Ceo     37

In [15]:
georgette_gomez = df_by_id[df_by_id['recipient_id'] == '1377434'].sort_values(by='Count', ascending=False)
georgette_gomez.head() #district 9, dem, won

     recipient_id contributor_occ  Count
1360      1377434         Retired    180
1185      1377434        Attorney     62
1226      1377434      Consultant     41
1392      1377434      Unemployed     39
1337      1377434       Professor     34

In [16]:
ricardo_flores = df_by_id[df_by_id['recipient_id'] == '1377572'].sort_values(by='Count', ascending=False)
ricardo_flores.head() #district 9, dem, lost

     recipient_id contributor_occ  Count
2493      1377572         Retired    195
2250      1377572        Attorney     93
2434      1377572       President     74
2262      1377572             Ceo     37
2445      1377572       Principal     31

In [17]:
df_combined.groupby('contributor_occ').size().sort_values(ascending=False)

contributor_occ
Retired                             1574
Attorney                             784
President                            501
Homemaker                            344
Ceo                                  278
Owner                                256
Real Estate                          205
Principal                            123
Professor                            115
Consultant                           113
Executive Director                   100
Architect                             88
Realtor                               88
Engineer                              81
Physician                             76
President/Ceo                         75
Business Owner                        74
Real Estate Broker                    72
Partner                               70
Teacher                               69
Director                              69
Vice President                        67
Manager                               65
Not Employed                          59
Civil Engineer                        56
Executive                             54
Vp                                    53
Chairman                              52
Real Estate Developer                 50
Lawyer                                45
                                    ...
Pediatric Dentist                      1
Pediatrician | Writer                  1
Performance & Analytics Dept Dir       1
Personal Stylist                       1
Pet Painter                            1
Pharmacists                            1
Physcian                               1
Physician/Surgeon                      1
Physisict                              1
Paralegal                              1
Painting Contractor                    1
Owner/Tax Professional                 1
Owner/Agent                            1
Or Orthopedic Technician               1
Oral Surgeon                           1
Orthopedic Surgeon                     1
Owner / Development Processing         1
Owner / Engineer                       1
Owner / President                      1
Owner/ Vice President                  1
Owner/Ceo                              1
Owner/Retail                           1
Owner/Litigation Support               1
Owner/Managing Partner                 1
Owner/Mgmt                             1
Owner/President                        1
Owner/Principal                        1
Owner/Real Estate                      1
Owner/Real Estate Prof                 1
Academic Designer                      1
Length: 1822, dtype: int64

In [18]:
retired = df_by_id[df_by_id['contributor_occ'] == 'Retired'].sort_values(by='Count', ascending=False)
retired.head()

     recipient_id contributor_occ  Count
1084      1377265         Retired    395
1775      1377462         Retired    231
2493      1377572         Retired    195
1360      1377434         Retired    180
411       1360787         Retired    140

In [19]:
attorney = df_by_id[df_by_id['contributor_occ'] == 'Attorney'].sort_values(by='Count', ascending=False)
attorney.head()

     recipient_id contributor_occ  Count
774       1377265        Attorney    171
1428      1377462        Attorney    126
148       1360787        Attorney    119
2250      1377572        Attorney     93
1185      1377434        Attorney     62

In [20]:
president = df_by_id[df_by_id['contributor_occ'] == 'President'].sort_values(by='Count', ascending=False)
president.head()

     recipient_id contributor_occ  Count
1693      1377462       President     97
1022      1377265       President     82
2434      1377572       President     74
2105      1377498       President     69
362       1360787       President     57

In [21]:
homemaker = df_by_id[df_by_id['contributor_occ'] == 'Homemaker'].sort_values(by='Count', ascending=False)
homemaker.head()

     recipient_id contributor_occ  Count
1595      1377462       Homemaker    121
2034      1377498       Homemaker     54
944       1377265       Homemaker     53
2369      1377572       Homemaker     31
288       1360787       Homemaker     22

In [23]:
ceo = df_by_id[df_by_id['contributor_occ'] == 'Ceo'].sort_values(by='Count', ascending=False)
ceo.head()

     recipient_id contributor_occ  Count
793       1377265             Ceo     80
1447      1377462             Ceo     47
1918      1377498             Ceo     37
2262      1377572             Ceo     37
166       1360787             Ceo     27

In [24]:
owner = df_by_id[df_by_id['contributor_occ'] == 'Owner'].sort_values(by='Count', ascending=False)
owner.head()

     recipient_id contributor_occ  Count
1675      1377462           Owner     72
689       1376415           Owner     42
2090      1377498           Owner     32
333       1360787           Owner     27
2407      1377572           Owner     25

In [25]:
real_estate = df_by_id[df_by_id['contributor_occ'] == 'Real Estate'].sort_values(by='Count', ascending=False)
real_estate.head()

     recipient_id contributor_occ  Count
1733      1377462     Real Estate     75
718       1376415     Real Estate     35
2131      1377498     Real Estate     26
2777      1377859     Real Estate     17
2470      1377572     Real Estate     15