In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("financial_support_2018_datasd (1).csv")
df17 = pd.read_csv("financial_support_2017_datasd.csv")

In [3]:
df = df.drop(['report_period_from', 'report_period_to', 'intermediary_first', 'intermediary_last', 'intermediary_city', 'intermediary_state', 'intermediary_zip'], axis=1)
df17 = df17.drop(['report_period_from', 'report_period_to', 'intermediary_first', 'intermediary_last', 'intermediary_city', 'intermediary_state', 'intermediary_zip'], axis=1)

In [4]:
df['contributor_occ'].replace('', np.nan, inplace=True)
df['contributor_occ'].replace(' ', np.nan, inplace=True)
df17['contributor_occ'].replace('', np.nan, inplace=True)
df17['contributor_occ'].replace(' ', np.nan, inplace=True)
df.dropna(subset=['contributor_occ'], inplace=True)
df17.dropna(subset=['contributor_occ'], inplace=True)

In [5]:
df

,form,schedule,schedule_description,recipient_id,recipient_name,contributor_code,contributor_last,contributor_first,contributor_city,contributor_state,...,contributor_occ,contribution_date,contribution_amount,contribution_annual,contribution_desc,contributor_id,intermediary_emp,intermediary_occ,filing_id,report_year
0,460.0,A,Monetary contributions,1399927.0,VALENTI FOR COUNCIL 2018,IND,Ki,Judy,Poway,CA,...,Retired teacher,2018-02-22T00:00:00.0000000-08:00,100.00,100.00,NaN,NaN,NaN,NaN,171191269.0,2018.0
1,460.0,A,Monetary contributions,1399927.0,VALENTI FOR COUNCIL 2018,IND,Nelson,Cindy,San Diego,CA,...,Business Owner,2018-01-01T00:00:00.0000000-08:00,100.00,100.00,NaN,NaN,NaN,NaN,171191269.0,2018.0
2,460.0,A,Monetary contributions,1399927.0,VALENTI FOR COUNCIL 2018,IND,Valenti,David,Honollulu,HI,...,Manager,2018-02-23T00:00:00.0000000-08:00,350.00,350.00,NaN,NaN,NaN,NaN,171191269.0,2018.0
3,460.0,A,Monetary contributions,1399927.0,VALENTI FOR COUNCIL 2018,IND,Sohaey,Christopher,Encinitas,CA,...,Property Management,2018-03-20T00:00:00.0000000-07:00,125.00,125.00,NaN,NaN,NaN,NaN,171191269.0,2018.0
4,460.0,A,Monetary contributions,1394941.0,Antonio Martinez for San Diego City Council 2018,IND,Miller,Robert Earl,Imperial Beach,CA,...,Retired,2018-04-21T00:00:00.0000000-07:00,100.00,100.00,NaN,NaN,NaN,NaN,171196401.0,2018.0
5,460.0,A,Monetary contributions,1394941.0,Antonio Martinez for San Diego City Council 2018,IND,Ziegler,Bart,San Diego,CA,...,President & Co-Founder,2018-04-17T00:00:00.0000000-07:00,250.00,350.00,NaN,NaN,NaN,NaN,171196401.0,2018.0
6,460.0,A,Monetary contributions,1394941.0,Antonio Martinez for San Diego City Council 2018,IND,Garces,Roberto,Loa Angeles,CA,...,General Counsel,2018-03-26T00:00:00.0000000-07:00,250.00,250.00,NaN,NaN,NaN,NaN,171196401.0,2018.0
7,460.0,A,Monetary contributions,1394941.0,Antonio Martinez for San Diego City Council 2018,IND,Escareno,Louis,San Antonio,TX,...,Attorney,2018-03-09T00:00:00.0000000-08:00,250.00,250.00,NaN,NaN,NaN,NaN,171196401.0,2018.0
8,460.0,A,Monetary contributions,1394941.0,Antonio Martinez for San Diego City Council 2018,IND,Kornfeld,Richard,La Jolla,CA,...,CEO,2018-03-21T00:00:00.0000000-07:00,550.00,1100.00,NaN,NaN,NaN,NaN,171196401.0,2018.0
9,460.0,A,Monetary contributions,1394941.0,Antonio Martinez for San Diego City Council 2018,IND,Kornfeld,Richard,La Jolla,CA,...,CEO,2018-04-10T00:00:00.0000000-07:00,550.00,1100.00,NaN,NaN,NaN,NaN,171196401.0,2018.0
10,460.0,A,Monetary contributions,1394941.0,Antonio Martinez for San Diego City Council 2018,IND,Van Eck,Matthew T.,San Diego,CA,...,Vice President,2018-03-13T00:00:00.0000000-07:00,200.00,200.00,NaN,NaN,NaN,NaN,171196401.0,2018.0
11,460.0,A,Monetary contributions,1394941.0,Antonio Martinez for San Diego City Council 2018,IND,Pla,George L.,Los Angeles,CA,...,Owner,2018-03-13T00:00:00.0000000-07:00,500.00,500.00,NaN,NaN,NaN,NaN,171196401.0,2018.0
12,460.0,A,Monetary contributions,1394941.0,Antonio Martinez for San Diego City Council 2018,IND,Regalado,David,San Ysidro,CA,...,Care Specialist,2018-04-21T00:00:00.0000000-07:00,100.00,100.00,NaN,NaN,NaN,NaN,171196401.0,2018.0
13,460.0,A,Monetary contributions,1394941.0,Antonio Martinez for San Diego City Council 2018,IND,Plante,Charles F.,Santee,CA,...,Chiropractor,2018-03-13T00:00:00.0000000-07:00,150.00,150.00,NaN,NaN,NaN,NaN,171196401.0,2018.0
14,460.0,A,Monetary contributions,1394941.0,Antonio Martinez for San Diego City Council 2018,IND,Viterbi,Alan,San Diego,CA,...,CEO,2018-03-23T00:00:00.0000000-07:00,550.00,550.00,NaN,NaN,NaN,NaN,171196401.0,2018.0
15,460.0,A,Monetary contributions,1394941.0,Antonio Martinez for San Diego City Council 2018,IND,Vilegas,Pedro,La Mesa,CA,...,Director of Community Relations,2018-03-26T00:00:00.0000000-07:00,100.00,100.00,NaN,NaN,NaN,NaN,171196401.0,2018.0
16,460.0,A,Monetary contributions,1394941.0,Antonio Martinez for San Diego City Council 2018,IND,Viterbi,Caryn,San Diego,CA,...,Retired,2018-04-10T00:00:00.0000000-07:00,550.00,550.00,NaN,NaN,NaN,NaN,171196401.0,2018.0
17,460.0,A,Monetary contributions,1394941.0,Antonio Martinez for San Diego City Council 2018,IND,Molina-Rodriguez,Ana L.,Chula Vista,CA,...,Chief of Staff,2018-03-13T00:00:00.0000000-07:00,250.00,250.00,NaN,NaN,NaN,NaN,171196401.0,2018.0
18,460.0,A,Monetary contributions,1394941.0,Antonio Martinez for San Diego City Council 2018,IND,Connor,Daniel,San Diego,CA,...,Registered Nurse,2018-02-08T00:00:00.0000000-08:00,250.00,250.00,NaN,NaN,NaN,NaN,171196401.0,2018.0
19,460.0,A,Monetary contributions,1394941.0,Antonio Martinez for San Diego City Council 2018,IND,Kalthia,Mike,San Diego,CA,...,Owner,2018-03-09T00:00:00.0000000-08:00,250.00,250.00,NaN,NaN,NaN,NaN,171196401.0,2018.0
20,460.0,A,Monetary contributions,1394941.0,Antonio Martinez for San Diego City Council 2018,IND,Shaba,Nozad,El Cajon,CA,...,President,2018-02-01T00:00:00.0000000-08:00,550.00,550.00,NaN,NaN,NaN,NaN,171196401.0,2018.0
21,460.0,A,Monetary contributions,1394941.0,Antonio Martinez for San Diego City Council 2018,IND,Anderson,Winthrop,San Diego,CA,...,Attorney,2018-03-09T00:00:00.0000000-08:00,150.00,300.00,NaN,NaN,NaN,NaN,171196401.0,2018.0
22,460.0,A,Monetary contributions,1394941.0,Antonio Martinez for San Diego City Council 2018,IND,Leib,Richard,Solana Beach,CA,...,Co-Founder,2018-04-16T00:00:00.0000000-07:00,550.00,550.00,NaN,NaN,NaN,NaN,171196401.0,2018.0
23,460.0,A,Monetary contributions,1394941.0,Antonio Martinez for San Diego City Council 2018,IND,Rouse,William J.,Gardena,CA,...,Attorney,2018-03-26T00:00:00.0000000-07:00,250.00,250.00,NaN,NaN,NaN,NaN,171196401.0,2018.0
24,460.0,A,Monetary contributions,1394941.0,Antonio Martinez for San Diego City Council 2018,IND,Gutierrez,Jorge,San Diego,CA,...,HR Director,2018-04-21T00:00:00.0000000-07:00,100.00,100.00,NaN,NaN,NaN,NaN,171196401.0,2018.0
25,460.0,A,Monetary contributions,1394941.0,Antonio Martinez for San Diego City Council 2018,IND,Khatchatourian,Armen S.,La Canada Flitridge,CA,...,Senior Data Analyst,2018-03-13T00:00:00.0000000-07:00,500.00,500.00,NaN,NaN,NaN,NaN,171196401.0,2018.0
26,460.0,A,Monetary contributions,1394941.0,Antonio Martinez for San Diego City Council 2018,IND,Hueso,Jose Antonio,San Diego,CA,...,Owner,2018-03-13T00:00:00.0000000-07:00,250.00,250.00,NaN,NaN,NaN,NaN,171196401.0,2018.0
27,460.0,A,Monetary contributions,1394941.0,Antonio Martinez for San Diego City Council 2018,IND,Mehranian,Maria,La Canada Flintridge,CA,...,CFO,2018-03-13T00:00:00.0000000-07:00,500.00,500.00,NaN,NaN,NaN,NaN,171196401.0,2018.0
28,460.0,A,Monetary contributions,1394941.0,Antonio Martinez for San Diego City Council 2018,IND,Cruz,Steve,Sacramento,CA,...,Partner/Gov't Relations,2018-03-08T00:00:00.0000000-08:00,550.00,550.00,NaN,NaN,NaN,NaN,171196401.0,2018.0
29,460.0,A,Monetary contributions,1394941.0,Antonio Martinez for San Diego City Council 2018,IND,Halbo,Hermiz 'Howard' J.,El Cajon,CA,...,Real Esate,2018-03-13T00:00:00.0000000-07:00,250.00,250.00,NaN,NaN,NaN,NaN,171196401.0,2018.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5053,460.0,C,Non monetary contributions,1396315.0,Lorie Zapf for Council 2018,IND,Kamiab,Sara,San Diego,CA,...,Director of Political Affairs,2018-08-06T00:00:00.0000000-07:00,309.00,309.00,Event table sponsorship,NaN,NaN,NaN,174460167.0,2018.0
5055,460.0,C,Non monetary contributions,1394941.0,Antonio Martinez for San Diego City Council 2018,IND,Garcia-Rivera,Liliana,San Diego,CA,...,Executive Director,2018-10-20T00:00:00.0000000-07:00,266.67,266.67,Food & Beverage for FND,NaN,NaN,NaN,174508274.0,2018.0
5056,460.0,C,Non monetary contributions,1394941.0,Antonio Martinez for San Diego City Council 2018,IND,Jordan,Frank,San Diego,CA,...,Founder & CEO,2018-09-29T00:00:00.0000000-07:00,244.40,344.40,Food for FND,NaN,NaN,NaN,174508274.0,2018.0
5057,460.0,C,Non monetary contributions,1394941.0,Antonio Martinez for San Diego City Council 2018,IND,Molina,Venus,Chula Vista,CA,...,Cheif of Policy,2018-10-20T00:00:00.0000000-07:00,226.66,226.66,Food & Beverage for FND,NaN,NaN,NaN,174508274.0,2018.0
5058,460.0,C,Non monetary contributions,1394941.0,Antonio Martinez for San Diego City Council 2018,IND,Vasquez,Carlos,San Diego,CA,...,President,2018-10-20T00:00:00.0000000-07:00,266.67,291.67,Food & Beverage for FND,NaN,NaN,NaN,174508274.0,2018.0
5059,460.0,C,Non monetary contributions,1394504.0,Re-Elect Myrtle Cole for City Council 2018,IND,Davis,Una,LaJolla,CA,...,Homemaker,2018-10-03T00:00:00.0000000-07:00,550.00,1100.00,Food & Beverages for FND,NaN,NaN,NaN,174508579.0,2018.0
5060,460.0,C,Non monetary contributions,1394504.0,Re-Elect Myrtle Cole for City Council 2018,IND,Jordan,Frank R.,San Diego,CA,...,President & CEO,2018-09-29T00:00:00.0000000-07:00,244.41,494.41,Food for FND Event,NaN,NaN,NaN,174508579.0,2018.0
5061,460.0,C,Non monetary contributions,1394504.0,Re-Elect Myrtle Cole for City Council 2018,IND,McGrory,Allyson,La Mesa,CA,...,COE,2018-10-03T00:00:00.0000000-07:00,550.00,550.00,Food & Beverages for FND,NaN,NaN,NaN,174508579.0,2018.0
5068,460.0,C,Non monetary contributions,1395590.0,Vivian Moreno for City Council 2018,IND,Vasilakis,Matthew,San Diego,CA,...,Professor,2018-10-05T00:00:00.0000000-07:00,80.00,115.00,Food/Beverages,NaN,NaN,NaN,174711641.0,2018.0
5069,460.0,C,Non monetary contributions,1394851.0,"GOAL San Diego: Yes on E, No on G, sponsored b...",IND,Stone,Nick,La Jolla,CA,...,Partner,2018-09-06T00:00:00.0000000-07:00,24272.00,195187.13,Yard signs,NaN,NaN,NaN,174773651.0,2018.0
5070,460.0,C,Non monetary contributions,1394851.0,"GOAL San Diego: Yes on E, No on G, sponsored b...",IND,Stone,Nick,La Jolla,CA,...,Partner,2018-09-17T00:00:00.0000000-07:00,1210.00,195187.13,Banners,NaN,NaN,NaN,174773651.0,2018.0
5071,460.0,C,Non monetary contributions,1394851.0,"GOAL San Diego: Yes on E, No on G, sponsored b...",IND,Altman-via AJL Investments,Steven,La Jolla,CA,...,Retired President,2018-06-30T00:00:00.0000000-07:00,3359.34,233689.53,Accrued expenses forgiven,NaN,NaN,NaN,174773704.0,2018.0
5073,460.0,C,Non monetary contributions,1394851.0,"GOAL San Diego: Yes on E, No on G, sponsored b...",IND,Dunbar,Jon,La Jolla,CA,...,Partner,2018-06-30T00:00:00.0000000-07:00,64.30,4472.54,Accrued expenses forgiven,NaN,NaN,NaN,174773704.0,2018.0
5074,460.0,C,Non monetary contributions,1394851.0,"GOAL San Diego: Yes on E, No on G, sponsored b...",IND,Rodriguez,Juan Carlos,Miami,FL,...,President,2018-06-30T00:00:00.0000000-07:00,163.03,11341.05,Accrued expenses forgiven,NaN,NaN,NaN,174773704.0,2018.0
5075,460.0,C,Non monetary contributions,1394851.0,"GOAL San Diego: Yes on E, No on G, sponsored b...",IND,Seidler-via The Seidler Co LLC,Peter,Marina Del Rey,CA,...,Partner,2018-06-30T00:00:00.0000000-07:00,3329.49,231613.00,Accrued expenses forgiven,NaN,NaN,NaN,174773704.0,2018.0
5076,460.0,C,Non monetary contributions,1394851.0,"GOAL San Diego: Yes on E, No on G, sponsored b...",IND,Stone-via Ptolemy Capital LLC,Michael,La Jolla,CA,...,Managing Member,2018-06-30T00:00:00.0000000-07:00,9393.75,653468.09,Accrued expenses forgiven,NaN,NaN,NaN,174773704.0,2018.0
5077,460.0,C,Non monetary contributions,1394851.0,"GOAL San Diego: Yes on E, No on G, sponsored b...",IND,Stone,Nick,La Jolla,CA,...,Partner,2018-06-30T00:00:00.0000000-07:00,730.19,50795.13,Accrued expenses forgiven,NaN,NaN,NaN,174773704.0,2018.0
5078,460.0,C,Non monetary contributions,1394851.0,"GOAL San Diego: Yes on E, No on G, sponsored b...",IND,Altman-via AJL Investments,Steven,La Jolla,CA,...,Retired President,2018-03-31T00:00:00.0000000-07:00,5765.54,43803.54,Accrued expenses forgiven,NaN,NaN,NaN,174773751.0,2018.0
5080,460.0,C,Non monetary contributions,1394851.0,"GOAL San Diego: Yes on E, No on G, sponsored b...",IND,Dunbar,Jon,La Jolla,CA,...,Partner,2018-03-31T00:00:00.0000000-07:00,110.35,838.35,Accrued expenses forgiven,NaN,NaN,NaN,174773751.0,2018.0
5081,460.0,C,Non monetary contributions,1394851.0,"GOAL San Diego: Yes on E, No on G, sponsored b...",IND,Rodriguez,Juan Carlos,Miami,FL,...,President,2018-03-31T00:00:00.0000000-07:00,279.80,2125.80,Accrued expenses forgiven,NaN,NaN,NaN,174773751.0,2018.0
5082,460.0,C,Non monetary contributions,1394851.0,"GOAL San Diego: Yes on E, No on G, sponsored b...",IND,Seidler-via The Seidler Co LLC,Peter,Marina Del Rey,CA,...,Partner,2018-03-31T00:00:00.0000000-07:00,5714.31,43414.31,Accrued expenses forgiven,NaN,NaN,NaN,174773751.0,2018.0
5083,460.0,C,Non monetary contributions,1394851.0,"GOAL San Diego: Yes on E, No on G, sponsored b...",IND,Stone-via Ptolemy Capital LLC,Michael,La Jolla,CA,...,Managing Member,2018-03-31T00:00:00.0000000-07:00,16122.21,122488.21,Accrued expenses forgiven,NaN,NaN,NaN,174773751.0,2018.0
5084,460.0,C,Non monetary contributions,1394851.0,"GOAL San Diego: Yes on E, No on G, sponsored b...",IND,Stone,Nick,La Jolla,CA,...,Partner,2018-03-31T00:00:00.0000000-07:00,1253.21,9521.21,Accrued expenses forgiven,NaN,NaN,NaN,174773751.0,2018.0
5085,460.0,C,Non monetary contributions,1397529.0,Monica Montgomery for City Council 2018,IND,Ochoa,Ricardo,San Diego,CA,...,Attorney,2018-09-08T00:00:00.0000000-07:00,187.50,537.50,ticket: John S Lyons annual banquet.,NaN,NaN,NaN,175188166.0,2018.0
5086,460.0,C,Non monetary contributions,1397529.0,Monica Montgomery for City Council 2018,IND,Posner,Eva,San Diego,CA,...,Political Consultant,2018-09-22T00:00:00.0000000-07:00,500.00,500.00,consulting services.,NaN,NaN,NaN,175188166.0,2018.0
5087,460.0,C,Non monetary contributions,1397529.0,Monica Montgomery for City Council 2018,IND,Pangelinan,Andrew,Lemon Grove,CA,...,Owner,2018-08-25T00:00:00.0000000-07:00,500.00,500.00,services: dj.,NaN,NaN,NaN,175188166.0,2018.0
5088,460.0,C,Non monetary contributions,1397529.0,Monica Montgomery for City Council 2018,IND,Lam,Nga,San Diego,CA,...,Title Rep,2018-08-09T00:00:00.0000000-07:00,303.78,303.78,food & beverages.,NaN,NaN,NaN,175188166.0,2018.0
5089,460.0,C,Non monetary contributions,1397529.0,Monica Montgomery for City Council 2018,IND,Booker Jr,Demetre,San Diego,CA,...,Acquisitions Analyst,2018-08-09T00:00:00.0000000-07:00,500.00,1600.00,food & beverages.,NaN,NaN,NaN,175188166.0,2018.0
5090,460.0,C,Non monetary contributions,1397529.0,Monica Montgomery for City Council 2018,IND,Hunter,Benelia,National City,CA,...,Catering,2018-08-25T00:00:00.0000000-07:00,157.00,157.00,food.,NaN,NaN,NaN,175188166.0,2018.0
5091,460.0,C,Non monetary contributions,1397529.0,Monica Montgomery for City Council 2018,IND,Kemp,Beatrice,San Diego,CA,...,Interior Designer,2018-09-29T00:00:00.0000000-07:00,383.25,483.25,fundraiser: food.,NaN,NaN,NaN,175188304.0,2018.0

In [6]:
df17

,form,schedule,schedule_description,recipient_id,recipient_name,contributor_code,contributor_last,contributor_first,contributor_city,contributor_state,...,contributor_occ,contribution_date,contribution_amount,contribution_annual,contribution_desc,contributor_id,intermediary_emp,intermediary_occ,filing_id,report_year
0,460.0,A,Monetary contributions,1377818,Mara Elliott for San Diego City Attorney 2016,IND,Hebrank,Thomas,San Diego,CA,...,Receiver,2017-02-10T00:00:00.0000000-08:00,250.00,250.00,NaN,NaN,NaN,NaN,165423065.0,2017.0
1,460.0,A,Monetary contributions,1377818,Mara Elliott for San Diego City Attorney 2016,IND,Caplan,Robert,La Jolla,CA,...,Lawyer,2017-02-27T00:00:00.0000000-08:00,500.00,500.00,NaN,NaN,NaN,NaN,165423065.0,2017.0
2,460.0,A,Monetary contributions,1377818,Mara Elliott for San Diego City Attorney 2016,IND,Linton,Michael F.,San Marino,CA,...,Vice President,2017-02-16T00:00:00.0000000-08:00,250.00,250.00,NaN,NaN,NaN,NaN,165423065.0,2017.0
3,460.0,A,Monetary contributions,1377818,Mara Elliott for San Diego City Attorney 2016,IND,Ostrem,William,San Diego,CA,...,President,2017-05-02T00:00:00.0000000-07:00,1050.00,1050.00,NaN,NaN,NaN,NaN,165423065.0,2017.0
4,460.0,A,Monetary contributions,1377818,Mara Elliott for San Diego City Attorney 2016,IND,Rosenbaum,S. Wayne,Carlsbad,CA,...,Attorney,2017-05-02T00:00:00.0000000-07:00,200.00,200.00,NaN,NaN,NaN,NaN,165423065.0,2017.0
5,460.0,A,Monetary contributions,1377818,Mara Elliott for San Diego City Attorney 2016,IND,Gelfand,Jacob,Encinitas,CA,...,Project Manager,2017-01-18T00:00:00.0000000-08:00,1050.00,1050.00,NaN,NaN,NaN,NaN,165423065.0,2017.0
6,460.0,A,Monetary contributions,1377818,Mara Elliott for San Diego City Attorney 2016,IND,Burchett,Marjorie,San Diego,CA,...,Attorney,2017-01-09T00:00:00.0000000-08:00,250.00,250.00,NaN,NaN,NaN,NaN,165423065.0,2017.0
7,460.0,A,Monetary contributions,1377818,Mara Elliott for San Diego City Attorney 2016,IND,Hiramatsu,Erika,San Diego,CA,...,Attorney,2017-02-10T00:00:00.0000000-08:00,250.00,250.00,NaN,NaN,NaN,NaN,165423065.0,2017.0
8,460.0,A,Monetary contributions,1377818,Mara Elliott for San Diego City Attorney 2016,IND,Sabraw Stephan,Summer,Rancho Santa Fe,CA,...,Chief Deputy District Attorney,2017-01-19T00:00:00.0000000-08:00,300.00,300.00,NaN,NaN,NaN,NaN,165423065.0,2017.0
9,460.0,A,Monetary contributions,1377818,Mara Elliott for San Diego City Attorney 2016,IND,Hastie,Brendan C.,San Diego,CA,...,Associate,2017-01-19T00:00:00.0000000-08:00,100.00,100.00,NaN,NaN,NaN,NaN,165423065.0,2017.0
10,460.0,A,Monetary contributions,1377818,Mara Elliott for San Diego City Attorney 2016,IND,Gore,William,San Diego,CA,...,Sheriff,2017-01-17T00:00:00.0000000-08:00,250.00,250.00,NaN,NaN,NaN,NaN,165423065.0,2017.0
11,460.0,A,Monetary contributions,1377818,Mara Elliott for San Diego City Attorney 2016,IND,Evans,Anne L.,La Jolla,CA,...,Retired,2017-02-16T00:00:00.0000000-08:00,1050.00,1050.00,NaN,NaN,NaN,NaN,165423065.0,2017.0
12,460.0,A,Monetary contributions,1377818,Mara Elliott for San Diego City Attorney 2016,IND,Black,Charles E.,San Diego,CA,...,Developer,2017-02-16T00:00:00.0000000-08:00,1050.00,1050.00,NaN,NaN,NaN,NaN,165423065.0,2017.0
13,460.0,A,Monetary contributions,1377818,Mara Elliott for San Diego City Attorney 2016,IND,Cushman,Stephen,San Diego,CA,...,Real Estate Investor,2017-01-18T00:00:00.0000000-08:00,250.00,250.00,NaN,NaN,NaN,NaN,165423065.0,2017.0
14,460.0,A,Monetary contributions,1377818,Mara Elliott for San Diego City Attorney 2016,IND,Mooney,Brian F.,San Diego,CA,...,Principal,2017-01-19T00:00:00.0000000-08:00,250.00,250.00,NaN,NaN,NaN,NaN,165423065.0,2017.0
15,460.0,A,Monetary contributions,1377818,Mara Elliott for San Diego City Attorney 2016,IND,Carrier,Gordon R.,San Diego,CA,...,Architect,2017-05-02T00:00:00.0000000-07:00,500.00,500.00,NaN,NaN,NaN,NaN,165423065.0,2017.0
16,460.0,A,Monetary contributions,1377818,Mara Elliott for San Diego City Attorney 2016,IND,Oliver,Morgan,San Diego,CA,...,CEO,2017-03-23T00:00:00.0000000-07:00,1050.00,1050.00,NaN,NaN,NaN,NaN,165423065.0,2017.0
17,460.0,A,Monetary contributions,1377818,Mara Elliott for San Diego City Attorney 2016,IND,McNerney,Michael,Encinitas,CA,...,Real Estate,2017-01-16T00:00:00.0000000-08:00,250.00,250.00,NaN,NaN,NaN,NaN,165423065.0,2017.0
18,460.0,A,Monetary contributions,1377818,Mara Elliott for San Diego City Attorney 2016,IND,Turk,Michael,San Diego,CA,...,CEO,2017-03-24T00:00:00.0000000-07:00,1050.00,1050.00,NaN,NaN,NaN,NaN,165423065.0,2017.0
19,460.0,A,Monetary contributions,1377818,Mara Elliott for San Diego City Attorney 2016,IND,O'Connor,Jeff,San Diego,CA,...,Land Developer,2017-05-02T00:00:00.0000000-07:00,250.00,250.00,NaN,NaN,NaN,NaN,165423065.0,2017.0
20,460.0,A,Monetary contributions,1377818,Mara Elliott for San Diego City Attorney 2016,IND,Barnum,Bradford E.,San Diego,CA,...,Vice President of Government Relations,2017-01-19T00:00:00.0000000-08:00,100.00,100.00,NaN,NaN,NaN,NaN,165423065.0,2017.0
21,460.0,A,Monetary contributions,1377818,Mara Elliott for San Diego City Attorney 2016,IND,Pinckard,Richard,San Diego,CA,...,Attorney,2017-01-27T00:00:00.0000000-08:00,1050.00,1050.00,NaN,NaN,NaN,NaN,165423065.0,2017.0
22,460.0,A,Monetary contributions,1377818,Mara Elliott for San Diego City Attorney 2016,IND,Benke,Michael J.,San Diego,CA,...,Attorney,2017-01-19T00:00:00.0000000-08:00,250.00,250.00,NaN,NaN,NaN,NaN,165423065.0,2017.0
23,460.0,A,Monetary contributions,1377818,Mara Elliott for San Diego City Attorney 2016,IND,Austin,Gina,Coronado,CA,...,Attorney,2017-01-19T00:00:00.0000000-08:00,500.00,500.00,NaN,NaN,NaN,NaN,165423065.0,2017.0
24,460.0,A,Monetary contributions,1377818,Mara Elliott for San Diego City Attorney 2016,IND,Stryker,Dennis,San Diego,CA,...,Attorney,2017-01-19T00:00:00.0000000-08:00,100.00,100.00,NaN,NaN,NaN,NaN,165423065.0,2017.0
25,460.0,A,Monetary contributions,1377818,Mara Elliott for San Diego City Attorney 2016,IND,Syz,Brittany,San Diego,CA,...,Attorney,2017-01-24T00:00:00.0000000-08:00,100.00,100.00,NaN,NaN,NaN,NaN,165423065.0,2017.0
26,460.0,A,Monetary contributions,1377818,Mara Elliott for San Diego City Attorney 2016,IND,Oliver,Elizabeth,San Diego,CA,...,Not Employed,2017-03-23T00:00:00.0000000-07:00,1050.00,1050.00,NaN,NaN,NaN,NaN,165423065.0,2017.0
27,460.0,A,Monetary contributions,1377818,Mara Elliott for San Diego City Attorney 2016,IND,Wooley,Don D.,San Diego,CA,...,Principal,2017-01-19T00:00:00.0000000-08:00,100.00,100.00,NaN,NaN,NaN,NaN,165423065.0,2017.0
28,460.0,A,Monetary contributions,1377818,Mara Elliott for San Diego City Attorney 2016,IND,Benedetto,Craig,San Diego,CA,...,Principal,2017-01-18T00:00:00.0000000-08:00,1050.00,1050.00,NaN,NaN,NaN,NaN,165423065.0,2017.0
29,460.0,A,Monetary contributions,1377818,Mara Elliott for San Diego City Attorney 2016,IND,Feldman,Uri,San Diego,CA,...,Business Owner,2017-01-18T00:00:00.0000000-08:00,250.00,250.00,NaN,NaN,NaN,NaN,165423065.0,2017.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4082,460.0,C,Non monetary contributions,1394851,"GOAL: San Diegans for the River Park, School F...",IND,Stone,Nick,La Jolla,CA,...,Partner,2017-09-27T00:00:00.0000000-07:00,94.33,61585.48,Payment for employee time on campaign,NaN,NaN,NaN,166073266.0,2017.0
4083,460.0,C,Non monetary contributions,1394851,"GOAL: San Diegans for the River Park, School F...",IND,Seidler,Peter,Marina Del Rey,CA,...,Partner,2017-09-27T00:00:00.0000000-07:00,1226.27,800611.37,Payment for employee time on campaign,NaN,NaN,NaN,166073266.0,2017.0
4154,460.0,C,Non monetary contributions,1396315,Lorie Zapf for Council 2018,IND,Johnson,Jeff E.,La Jolla,CA,...,Real Estate / Attorney,2017-09-21T00:00:00.0000000-07:00,550.00,550.00,Hosted fundraiser,NaN,NaN,NaN,168272868.0,2017.0
4155,460.0,C,Non monetary contributions,1396315,Lorie Zapf for Council 2018,IND,Lai,Wilbur,San Diego,CA,...,VP,2017-11-28T00:00:00.0000000-08:00,392.00,392.00,Hosted fundraiser,NaN,NaN,NaN,168272868.0,2017.0
4156,460.0,C,Non monetary contributions,1396315,Lorie Zapf for Council 2018,IND,McGowan,Timothy J.,La Jolla,CA,...,President,2017-09-21T00:00:00.0000000-07:00,255.54,255.54,Hosted fundraiser,NaN,NaN,NaN,168272868.0,2017.0
4157,460.0,C,Non monetary contributions,1396315,Lorie Zapf for Council 2018,IND,Ramirez,William E.,San Diego,CA,...,General Manager/Owner,2017-11-28T00:00:00.0000000-08:00,400.00,400.00,Hosted fundraiser,NaN,NaN,NaN,168272868.0,2017.0
4159,460.0,C,Non monetary contributions,1398814,Dr. Jen Campbell for City Council 2018,IND,Campbell,Jennifer H.,San Diego,CA,...,Physician,2017-09-19T00:00:00.0000000-07:00,43.09,11417.05,Campaign Phone,NaN,NaN,NaN,168326704.0,2017.0
4160,460.0,C,Non monetary contributions,1398814,Dr. Jen Campbell for City Council 2018,IND,Campbell,Jennifer H.,San Diego,CA,...,Physician,2017-09-10T00:00:00.0000000-07:00,151.78,11417.05,Campaign Office Supplies,NaN,NaN,NaN,168326704.0,2017.0
4161,460.0,C,Non monetary contributions,1398814,Dr. Jen Campbell for City Council 2018,IND,Campbell,Jennifer H.,San Diego,CA,...,Physician,2017-09-13T00:00:00.0000000-07:00,25.82,11417.05,Campaign Office Supplies,NaN,NaN,NaN,168326704.0,2017.0
4162,460.0,C,Non monetary contributions,1398814,Dr. Jen Campbell for City Council 2018,IND,Campbell,Jennifer H.,San Diego,CA,...,Physician,2017-09-24T00:00:00.0000000-07:00,24.17,11417.05,Campaign Training,NaN,NaN,NaN,168326704.0,2017.0
4163,460.0,C,Non monetary contributions,1398814,Dr. Jen Campbell for City Council 2018,IND,Campbell,Jennifer H.,San Diego,CA,...,Physician,2017-09-20T00:00:00.0000000-07:00,26.93,11417.05,Campaign Office Supplies,NaN,NaN,NaN,168326704.0,2017.0
4164,460.0,C,Non monetary contributions,1398814,Dr. Jen Campbell for City Council 2018,IND,Campbell,Jennifer H.,San Diego,CA,...,Physician,2017-09-19T00:00:00.0000000-07:00,45.26,11417.05,SDROV District 2 Maps,NaN,NaN,NaN,168326704.0,2017.0
4165,460.0,C,Non monetary contributions,1397080,"Friends of SDSU, a coalition of SDSU alumni, b...",IND,McCain,Kenneth F.,La Jolla,CA,...,Investment Manager,2017-11-07T00:00:00.0000000-08:00,24557.50,24557.50,Cash Value of Stock,NaN,NaN,NaN,168350010.0,2017.0
4166,460.0,C,Non monetary contributions,1397529,Monica Montgomery for City Council 2018,IND,Olivacce,Shanteca,Englewood,NJ,...,Unit Representative,2017-08-23T00:00:00.0000000-07:00,150.00,150.00,photography services.,NaN,NaN,NaN,168375155.0,2017.0
4167,460.0,C,Non monetary contributions,1397529,Monica Montgomery for City Council 2018,IND,Ramos,Ferchil,San Diego,CA,...,New Media Strategist,2017-06-26T00:00:00.0000000-07:00,150.00,150.00,logo design.,NaN,NaN,NaN,168375155.0,2017.0
4168,460.0,C,Non monetary contributions,1394941,Antonio Martinez for San Diego City Council 2018,IND,Martinez IV,Antonio,San Ysidro,CA,...,School Boardmember,2017-08-17T00:00:00.0000000-07:00,40.95,1128.78,SDROV Precinct Map,NaN,NaN,NaN,168382564.0,2017.0
4169,460.0,C,Non monetary contributions,1394941,Antonio Martinez for San Diego City Council 2018,IND,Martinez IV,Antonio,San Ysidro,CA,...,School Boardmember,2017-08-03T00:00:00.0000000-07:00,25.00,1128.78,Democratic Central Committee List,NaN,NaN,NaN,168382564.0,2017.0
4170,460.0,C,Non monetary contributions,1394941,Antonio Martinez for San Diego City Council 2018,IND,Martinez IV,Antonio,San Ysidro,CA,...,School Boardmember,2017-07-10T00:00:00.0000000-07:00,10.87,1128.78,Domain Renewal,NaN,NaN,NaN,168382564.0,2017.0
4171,460.0,C,Non monetary contributions,1394941,Antonio Martinez for San Diego City Council 2018,IND,Rhodes,Keith,San Diego,CA,...,Owner,2017-12-13T00:00:00.0000000-08:00,197.45,747.45,Food & Beverage for Fundraiser,NaN,NaN,NaN,168382564.0,2017.0
4172,460.0,C,Non monetary contributions,1394941,Antonio Martinez for San Diego City Council 2018,IND,Martinez IV,Antonio,San Ysidro,CA,...,School Boardmember,2017-08-21T00:00:00.0000000-07:00,51.96,1128.78,Dist. Precinct Map Laminated,NaN,NaN,NaN,168382564.0,2017.0
4179,460.0,C,Non monetary contributions,1394851,"GOAL: San Diegans for the River Park, School F...",IND,Altman,Steven,La Jolla,CA,...,Retired President,2017-12-31T00:00:00.0000000-08:00,363.64,411634.01,Accrued expenses forgiven,NaN,NaN,NaN,169324935.0,2017.0
4180,460.0,C,Non monetary contributions,1394851,"GOAL: San Diegans for the River Park, School F...",IND,Stone,Michael,La Jolla,CA,...,Managing Member,2017-12-31T00:00:00.0000000-08:00,1065.30,1205907.20,Accrued expenses forgiven,NaN,NaN,NaN,169324935.0,2017.0
4181,460.0,C,Non monetary contributions,1394851,"GOAL: San Diegans for the River Park, School F...",IND,Stone,Nick,La Jolla,CA,...,Partner,2017-12-31T00:00:00.0000000-08:00,54.45,61639.93,Accrued expenses forgiven,NaN,NaN,NaN,169324935.0,2017.0
4183,460.0,C,Non monetary contributions,1394851,"GOAL: San Diegans for the River Park, School F...",IND,Rodriguez,Juan Carlos,Miami,FL,...,President,2017-12-31T00:00:00.0000000-08:00,54.45,61639.93,Accrued expenses forgiven,NaN,NaN,NaN,169324935.0,2017.0
4184,460.0,C,Non monetary contributions,1394851,"GOAL: San Diegans for the River Park, School F...",IND,Dunbar,Jon,La Jolla,CA,...,Partner,2017-12-31T00:00:00.0000000-08:00,21.78,24655.98,Accrued expenses forgiven,NaN,NaN,NaN,169324935.0,2017.0
4185,460.0,C,Non monetary contributions,1394851,"GOAL: San Diegans for the River Park, School F...",IND,Seidler,Peter,Marina Del Rey,CA,...,Partner,2017-12-31T00:00:00.0000000-08:00,707.89,801319.26,Accrued expenses forgiven,NaN,NaN,NaN,169324935.0,2017.0
4186,460.0,C,Non monetary contributions,1394143,Jordan Beane for City Council 2018,IND,Beane,Jordan,San Diego,CA,...,Sr Producer,2017-01-01T00:00:00.0000000-08:00,607.50,727.50,12/22/2016: t-shirts.,NaN,NaN,NaN,170053223.0,2017.0
4187,460.0,C,Non monetary contributions,1394143,Jordan Beane for City Council 2018,IND,Beane,Jordan,San Diego,CA,...,Sr Producer,2017-01-01T00:00:00.0000000-08:00,120.00,727.50,2/8/2017: event venue,NaN,NaN,NaN,170053223.0,2017.0
4189,460.0,C,Non monetary contributions,1394460,Cate for Council 2018,IND,Johnson,Jeff,La Jolla,CA,...,Executive VP,2017-10-26T00:00:00.0000000-07:00,150.00,550.00,Hosted fundraiser,NaN,NaN,NaN,171187058.0,2017.0
4190,460.0,C,Non monetary contributions,1394460,Cate for Council 2018,IND,McKellar,Christopher S.,La Jolla,CA,...,President,2017-10-26T00:00:00.0000000-07:00,500.00,500.00,Hosted fundraiser,NaN,NaN,NaN,171187058.0,2017.0

In [7]:
df['recipient_id'] = df['recipient_id'].astype(int)
df17['recipient_id'] = df17['recipient_id'].astype(int)
df_combined = pd.concat([df, df17])
df_combined

,form,schedule,schedule_description,recipient_id,recipient_name,contributor_code,contributor_last,contributor_first,contributor_city,contributor_state,...,contributor_occ,contribution_date,contribution_amount,contribution_annual,contribution_desc,contributor_id,intermediary_emp,intermediary_occ,filing_id,report_year
0,460.0,A,Monetary contributions,1399927,VALENTI FOR COUNCIL 2018,IND,Ki,Judy,Poway,CA,...,Retired teacher,2018-02-22T00:00:00.0000000-08:00,100.00,100.00,NaN,NaN,NaN,NaN,171191269.0,2018.0
1,460.0,A,Monetary contributions,1399927,VALENTI FOR COUNCIL 2018,IND,Nelson,Cindy,San Diego,CA,...,Business Owner,2018-01-01T00:00:00.0000000-08:00,100.00,100.00,NaN,NaN,NaN,NaN,171191269.0,2018.0
2,460.0,A,Monetary contributions,1399927,VALENTI FOR COUNCIL 2018,IND,Valenti,David,Honollulu,HI,...,Manager,2018-02-23T00:00:00.0000000-08:00,350.00,350.00,NaN,NaN,NaN,NaN,171191269.0,2018.0
3,460.0,A,Monetary contributions,1399927,VALENTI FOR COUNCIL 2018,IND,Sohaey,Christopher,Encinitas,CA,...,Property Management,2018-03-20T00:00:00.0000000-07:00,125.00,125.00,NaN,NaN,NaN,NaN,171191269.0,2018.0
4,460.0,A,Monetary contributions,1394941,Antonio Martinez for San Diego City Council 2018,IND,Miller,Robert Earl,Imperial Beach,CA,...,Retired,2018-04-21T00:00:00.0000000-07:00,100.00,100.00,NaN,NaN,NaN,NaN,171196401.0,2018.0
5,460.0,A,Monetary contributions,1394941,Antonio Martinez for San Diego City Council 2018,IND,Ziegler,Bart,San Diego,CA,...,President & Co-Founder,2018-04-17T00:00:00.0000000-07:00,250.00,350.00,NaN,NaN,NaN,NaN,171196401.0,2018.0
6,460.0,A,Monetary contributions,1394941,Antonio Martinez for San Diego City Council 2018,IND,Garces,Roberto,Loa Angeles,CA,...,General Counsel,2018-03-26T00:00:00.0000000-07:00,250.00,250.00,NaN,NaN,NaN,NaN,171196401.0,2018.0
7,460.0,A,Monetary contributions,1394941,Antonio Martinez for San Diego City Council 2018,IND,Escareno,Louis,San Antonio,TX,...,Attorney,2018-03-09T00:00:00.0000000-08:00,250.00,250.00,NaN,NaN,NaN,NaN,171196401.0,2018.0
8,460.0,A,Monetary contributions,1394941,Antonio Martinez for San Diego City Council 2018,IND,Kornfeld,Richard,La Jolla,CA,...,CEO,2018-03-21T00:00:00.0000000-07:00,550.00,1100.00,NaN,NaN,NaN,NaN,171196401.0,2018.0
9,460.0,A,Monetary contributions,1394941,Antonio Martinez for San Diego City Council 2018,IND,Kornfeld,Richard,La Jolla,CA,...,CEO,2018-04-10T00:00:00.0000000-07:00,550.00,1100.00,NaN,NaN,NaN,NaN,171196401.0,2018.0
10,460.0,A,Monetary contributions,1394941,Antonio Martinez for San Diego City Council 2018,IND,Van Eck,Matthew T.,San Diego,CA,...,Vice President,2018-03-13T00:00:00.0000000-07:00,200.00,200.00,NaN,NaN,NaN,NaN,171196401.0,2018.0
11,460.0,A,Monetary contributions,1394941,Antonio Martinez for San Diego City Council 2018,IND,Pla,George L.,Los Angeles,CA,...,Owner,2018-03-13T00:00:00.0000000-07:00,500.00,500.00,NaN,NaN,NaN,NaN,171196401.0,2018.0
12,460.0,A,Monetary contributions,1394941,Antonio Martinez for San Diego City Council 2018,IND,Regalado,David,San Ysidro,CA,...,Care Specialist,2018-04-21T00:00:00.0000000-07:00,100.00,100.00,NaN,NaN,NaN,NaN,171196401.0,2018.0
13,460.0,A,Monetary contributions,1394941,Antonio Martinez for San Diego City Council 2018,IND,Plante,Charles F.,Santee,CA,...,Chiropractor,2018-03-13T00:00:00.0000000-07:00,150.00,150.00,NaN,NaN,NaN,NaN,171196401.0,2018.0
14,460.0,A,Monetary contributions,1394941,Antonio Martinez for San Diego City Council 2018,IND,Viterbi,Alan,San Diego,CA,...,CEO,2018-03-23T00:00:00.0000000-07:00,550.00,550.00,NaN,NaN,NaN,NaN,171196401.0,2018.0
15,460.0,A,Monetary contributions,1394941,Antonio Martinez for San Diego City Council 2018,IND,Vilegas,Pedro,La Mesa,CA,...,Director of Community Relations,2018-03-26T00:00:00.0000000-07:00,100.00,100.00,NaN,NaN,NaN,NaN,171196401.0,2018.0
16,460.0,A,Monetary contributions,1394941,Antonio Martinez for San Diego City Council 2018,IND,Viterbi,Caryn,San Diego,CA,...,Retired,2018-04-10T00:00:00.0000000-07:00,550.00,550.00,NaN,NaN,NaN,NaN,171196401.0,2018.0
17,460.0,A,Monetary contributions,1394941,Antonio Martinez for San Diego City Council 2018,IND,Molina-Rodriguez,Ana L.,Chula Vista,CA,...,Chief of Staff,2018-03-13T00:00:00.0000000-07:00,250.00,250.00,NaN,NaN,NaN,NaN,171196401.0,2018.0
18,460.0,A,Monetary contributions,1394941,Antonio Martinez for San Diego City Council 2018,IND,Connor,Daniel,San Diego,CA,...,Registered Nurse,2018-02-08T00:00:00.0000000-08:00,250.00,250.00,NaN,NaN,NaN,NaN,171196401.0,2018.0
19,460.0,A,Monetary contributions,1394941,Antonio Martinez for San Diego City Council 2018,IND,Kalthia,Mike,San Diego,CA,...,Owner,2018-03-09T00:00:00.0000000-08:00,250.00,250.00,NaN,NaN,NaN,NaN,171196401.0,2018.0
20,460.0,A,Monetary contributions,1394941,Antonio Martinez for San Diego City Council 2018,IND,Shaba,Nozad,El Cajon,CA,...,President,2018-02-01T00:00:00.0000000-08:00,550.00,550.00,NaN,NaN,NaN,NaN,171196401.0,2018.0
21,460.0,A,Monetary contributions,1394941,Antonio Martinez for San Diego City Council 2018,IND,Anderson,Winthrop,San Diego,CA,...,Attorney,2018-03-09T00:00:00.0000000-08:00,150.00,300.00,NaN,NaN,NaN,NaN,171196401.0,2018.0
22,460.0,A,Monetary contributions,1394941,Antonio Martinez for San Diego City Council 2018,IND,Leib,Richard,Solana Beach,CA,...,Co-Founder,2018-04-16T00:00:00.0000000-07:00,550.00,550.00,NaN,NaN,NaN,NaN,171196401.0,2018.0
23,460.0,A,Monetary contributions,1394941,Antonio Martinez for San Diego City Council 2018,IND,Rouse,William J.,Gardena,CA,...,Attorney,2018-03-26T00:00:00.0000000-07:00,250.00,250.00,NaN,NaN,NaN,NaN,171196401.0,2018.0
24,460.0,A,Monetary contributions,1394941,Antonio Martinez for San Diego City Council 2018,IND,Gutierrez,Jorge,San Diego,CA,...,HR Director,2018-04-21T00:00:00.0000000-07:00,100.00,100.00,NaN,NaN,NaN,NaN,171196401.0,2018.0
25,460.0,A,Monetary contributions,1394941,Antonio Martinez for San Diego City Council 2018,IND,Khatchatourian,Armen S.,La Canada Flitridge,CA,...,Senior Data Analyst,2018-03-13T00:00:00.0000000-07:00,500.00,500.00,NaN,NaN,NaN,NaN,171196401.0,2018.0
26,460.0,A,Monetary contributions,1394941,Antonio Martinez for San Diego City Council 2018,IND,Hueso,Jose Antonio,San Diego,CA,...,Owner,2018-03-13T00:00:00.0000000-07:00,250.00,250.00,NaN,NaN,NaN,NaN,171196401.0,2018.0
27,460.0,A,Monetary contributions,1394941,Antonio Martinez for San Diego City Council 2018,IND,Mehranian,Maria,La Canada Flintridge,CA,...,CFO,2018-03-13T00:00:00.0000000-07:00,500.00,500.00,NaN,NaN,NaN,NaN,171196401.0,2018.0
28,460.0,A,Monetary contributions,1394941,Antonio Martinez for San Diego City Council 2018,IND,Cruz,Steve,Sacramento,CA,...,Partner/Gov't Relations,2018-03-08T00:00:00.0000000-08:00,550.00,550.00,NaN,NaN,NaN,NaN,171196401.0,2018.0
29,460.0,A,Monetary contributions,1394941,Antonio Martinez for San Diego City Council 2018,IND,Halbo,Hermiz 'Howard' J.,El Cajon,CA,...,Real Esate,2018-03-13T00:00:00.0000000-07:00,250.00,250.00,NaN,NaN,NaN,NaN,171196401.0,2018.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4082,460.0,C,Non monetary contributions,1394851,"GOAL: San Diegans for the River Park, School F...",IND,Stone,Nick,La Jolla,CA,...,Partner,2017-09-27T00:00:00.0000000-07:00,94.33,61585.48,Payment for employee time on campaign,NaN,NaN,NaN,166073266.0,2017.0
4083,460.0,C,Non monetary contributions,1394851,"GOAL: San Diegans for the River Park, School F...",IND,Seidler,Peter,Marina Del Rey,CA,...,Partner,2017-09-27T00:00:00.0000000-07:00,1226.27,800611.37,Payment for employee time on campaign,NaN,NaN,NaN,166073266.0,2017.0
4154,460.0,C,Non monetary contributions,1396315,Lorie Zapf for Council 2018,IND,Johnson,Jeff E.,La Jolla,CA,...,Real Estate / Attorney,2017-09-21T00:00:00.0000000-07:00,550.00,550.00,Hosted fundraiser,NaN,NaN,NaN,168272868.0,2017.0
4155,460.0,C,Non monetary contributions,1396315,Lorie Zapf for Council 2018,IND,Lai,Wilbur,San Diego,CA,...,VP,2017-11-28T00:00:00.0000000-08:00,392.00,392.00,Hosted fundraiser,NaN,NaN,NaN,168272868.0,2017.0
4156,460.0,C,Non monetary contributions,1396315,Lorie Zapf for Council 2018,IND,McGowan,Timothy J.,La Jolla,CA,...,President,2017-09-21T00:00:00.0000000-07:00,255.54,255.54,Hosted fundraiser,NaN,NaN,NaN,168272868.0,2017.0
4157,460.0,C,Non monetary contributions,1396315,Lorie Zapf for Council 2018,IND,Ramirez,William E.,San Diego,CA,...,General Manager/Owner,2017-11-28T00:00:00.0000000-08:00,400.00,400.00,Hosted fundraiser,NaN,NaN,NaN,168272868.0,2017.0
4159,460.0,C,Non monetary contributions,1398814,Dr. Jen Campbell for City Council 2018,IND,Campbell,Jennifer H.,San Diego,CA,...,Physician,2017-09-19T00:00:00.0000000-07:00,43.09,11417.05,Campaign Phone,NaN,NaN,NaN,168326704.0,2017.0
4160,460.0,C,Non monetary contributions,1398814,Dr. Jen Campbell for City Council 2018,IND,Campbell,Jennifer H.,San Diego,CA,...,Physician,2017-09-10T00:00:00.0000000-07:00,151.78,11417.05,Campaign Office Supplies,NaN,NaN,NaN,168326704.0,2017.0
4161,460.0,C,Non monetary contributions,1398814,Dr. Jen Campbell for City Council 2018,IND,Campbell,Jennifer H.,San Diego,CA,...,Physician,2017-09-13T00:00:00.0000000-07:00,25.82,11417.05,Campaign Office Supplies,NaN,NaN,NaN,168326704.0,2017.0
4162,460.0,C,Non monetary contributions,1398814,Dr. Jen Campbell for City Council 2018,IND,Campbell,Jennifer H.,San Diego,CA,...,Physician,2017-09-24T00:00:00.0000000-07:00,24.17,11417.05,Campaign Training,NaN,NaN,NaN,168326704.0,2017.0
4163,460.0,C,Non monetary contributions,1398814,Dr. Jen Campbell for City Council 2018,IND,Campbell,Jennifer H.,San Diego,CA,...,Physician,2017-09-20T00:00:00.0000000-07:00,26.93,11417.05,Campaign Office Supplies,NaN,NaN,NaN,168326704.0,2017.0
4164,460.0,C,Non monetary contributions,1398814,Dr. Jen Campbell for City Council 2018,IND,Campbell,Jennifer H.,San Diego,CA,...,Physician,2017-09-19T00:00:00.0000000-07:00,45.26,11417.05,SDROV District 2 Maps,NaN,NaN,NaN,168326704.0,2017.0
4165,460.0,C,Non monetary contributions,1397080,"Friends of SDSU, a coalition of SDSU alumni, b...",IND,McCain,Kenneth F.,La Jolla,CA,...,Investment Manager,2017-11-07T00:00:00.0000000-08:00,24557.50,24557.50,Cash Value of Stock,NaN,NaN,NaN,168350010.0,2017.0
4166,460.0,C,Non monetary contributions,1397529,Monica Montgomery for City Council 2018,IND,Olivacce,Shanteca,Englewood,NJ,...,Unit Representative,2017-08-23T00:00:00.0000000-07:00,150.00,150.00,photography services.,NaN,NaN,NaN,168375155.0,2017.0
4167,460.0,C,Non monetary contributions,1397529,Monica Montgomery for City Council 2018,IND,Ramos,Ferchil,San Diego,CA,...,New Media Strategist,2017-06-26T00:00:00.0000000-07:00,150.00,150.00,logo design.,NaN,NaN,NaN,168375155.0,2017.0
4168,460.0,C,Non monetary contributions,1394941,Antonio Martinez for San Diego City Council 2018,IND,Martinez IV,Antonio,San Ysidro,CA,...,School Boardmember,2017-08-17T00:00:00.0000000-07:00,40.95,1128.78,SDROV Precinct Map,NaN,NaN,NaN,168382564.0,2017.0
4169,460.0,C,Non monetary contributions,1394941,Antonio Martinez for San Diego City Council 2018,IND,Martinez IV,Antonio,San Ysidro,CA,...,School Boardmember,2017-08-03T00:00:00.0000000-07:00,25.00,1128.78,Democratic Central Committee List,NaN,NaN,NaN,168382564.0,2017.0
4170,460.0,C,Non monetary contributions,1394941,Antonio Martinez for San Diego City Council 2018,IND,Martinez IV,Antonio,San Ysidro,CA,...,School Boardmember,2017-07-10T00:00:00.0000000-07:00,10.87,1128.78,Domain Renewal,NaN,NaN,NaN,168382564.0,2017.0
4171,460.0,C,Non monetary contributions,1394941,Antonio Martinez for San Diego City Council 2018,IND,Rhodes,Keith,San Diego,CA,...,Owner,2017-12-13T00:00:00.0000000-08:00,197.45,747.45,Food & Beverage for Fundraiser,NaN,NaN,NaN,168382564.0,2017.0
4172,460.0,C,Non monetary contributions,1394941,Antonio Martinez for San Diego City Council 2018,IND,Martinez IV,Antonio,San Ysidro,CA,...,School Boardmember,2017-08-21T00:00:00.0000000-07:00,51.96,1128.78,Dist. Precinct Map Laminated,NaN,NaN,NaN,168382564.0,2017.0
4179,460.0,C,Non monetary contributions,1394851,"GOAL: San Diegans for the River Park, School F...",IND,Altman,Steven,La Jolla,CA,...,Retired President,2017-12-31T00:00:00.0000000-08:00,363.64,411634.01,Accrued expenses forgiven,NaN,NaN,NaN,169324935.0,2017.0
4180,460.0,C,Non monetary contributions,1394851,"GOAL: San Diegans for the River Park, School F...",IND,Stone,Michael,La Jolla,CA,...,Managing Member,2017-12-31T00:00:00.0000000-08:00,1065.30,1205907.20,Accrued expenses forgiven,NaN,NaN,NaN,169324935.0,2017.0
4181,460.0,C,Non monetary contributions,1394851,"GOAL: San Diegans for the River Park, School F...",IND,Stone,Nick,La Jolla,CA,...,Partner,2017-12-31T00:00:00.0000000-08:00,54.45,61639.93,Accrued expenses forgiven,NaN,NaN,NaN,169324935.0,2017.0
4183,460.0,C,Non monetary contributions,1394851,"GOAL: San Diegans for the River Park, School F...",IND,Rodriguez,Juan Carlos,Miami,FL,...,President,2017-12-31T00:00:00.0000000-08:00,54.45,61639.93,Accrued expenses forgiven,NaN,NaN,NaN,169324935.0,2017.0
4184,460.0,C,Non monetary contributions,1394851,"GOAL: San Diegans for the River Park, School F...",IND,Dunbar,Jon,La Jolla,CA,...,Partner,2017-12-31T00:00:00.0000000-08:00,21.78,24655.98,Accrued expenses forgiven,NaN,NaN,NaN,169324935.0,2017.0
4185,460.0,C,Non monetary contributions,1394851,"GOAL: San Diegans for the River Park, School F...",IND,Seidler,Peter,Marina Del Rey,CA,...,Partner,2017-12-31T00:00:00.0000000-08:00,707.89,801319.26,Accrued expenses forgiven,NaN,NaN,NaN,169324935.0,2017.0
4186,460.0,C,Non monetary contributions,1394143,Jordan Beane for City Council 2018,IND,Beane,Jordan,San Diego,CA,...,Sr Producer,2017-01-01T00:00:00.0000000-08:00,607.50,727.50,12/22/2016: t-shirts.,NaN,NaN,NaN,170053223.0,2017.0
4187,460.0,C,Non monetary contributions,1394143,Jordan Beane for City Council 2018,IND,Beane,Jordan,San Diego,CA,...,Sr Producer,2017-01-01T00:00:00.0000000-08:00,120.00,727.50,2/8/2017: event venue,NaN,NaN,NaN,170053223.0,2017.0
4189,460.0,C,Non monetary contributions,1394460,Cate for Council 2018,IND,Johnson,Jeff,La Jolla,CA,...,Executive VP,2017-10-26T00:00:00.0000000-07:00,150.00,550.00,Hosted fundraiser,NaN,NaN,NaN,171187058.0,2017.0
4190,460.0,C,Non monetary contributions,1394460,Cate for Council 2018,IND,McKellar,Christopher S.,La Jolla,CA,...,President,2017-10-26T00:00:00.0000000-07:00,500.00,500.00,Hosted fundraiser,NaN,NaN,NaN,171187058.0,2017.0

In [9]:
df_combined.groupby(['recipient_id', 'recipient_name']).size().sort_values(ascending=False)

recipient_id  recipient_name
1396315       Lorie Zapf for Council 2018                                                                                                                                                                                1954
1394460       Cate for Council 2018                                                                                                                                                                                      1726
1398814       Dr. Jen Campbell for City Council 2018                                                                                                                                                                      978
1395590       Vivian Moreno for City Council 2018                                                                                                                                                                         844
1394941       Antonio Martinez for San Diego City Council 2018                                                                                                                                                            560
1394504       Re-Elect Myrtle Cole for City Council 2018                                                                                                                                                                  523
1399902       Tommy Hough for City Council 2018                                                                                                                                                                           361
1395389       Bryan Pease for City Council 2018                                                                                                                                                                           266
1397470       Christian Ramirez for San Diego City Council 2018                                                                                                                                                           257
1394143       Jordan Beane for City Council 2018                                                                                                                                                                          214
1397080       Friends of SDSU, Yes on G, No on E, a coalition of SDSU alumni, business and community leaders                                                                                                              162
1397529       Monica Montgomery for City Council 2018                                                                                                                                                                     148
1408066       Share San Diego                                                                                                                                                                                             146
1377818       Mara Elliott for San Diego City Attorney 2016                                                                                                                                                               130
1394851       GOAL: San Diegans for the River Park, School Funding, Soccer and a Tax-Free Stadium - A Committee to redevelop the Qualcomm Stadium site, sponsored by MLS SD Pursuit, LLC                                   75
1397080       Friends of SDSU, a coalition of SDSU alumni, business and community leaders                                                                                                                                  55
1399498       Neal Arthur for Council 2018                                                                                                                                                                                 52
1400617       Fayaz Nawabi for City Council 2018                                                                                                                                                                           42
1394851       GOAL San Diego: Yes on E, No on G, sponsored by MLS SD Pursuit                                                                                                                                               34
1396997       Danny Smiechowski for City Council 2018                                                                                                                                                                      23
1399927       VALENTI FOR COUNCIL 2018                                                                                                                                                                                     19
1407934       Lorie Zapf Legal Defense Fund                                                                                                                                                                                19
1395292       Public Land, Public Benefit, No on E, Yes on G, a coalition of San Diego taxpayers, community planners, local business, and education, park & environmental advocates. S                                     12
1396786       Elect Joshua Tomolak for City Council 2018                                                                                                                                                                    8
1397437       Zach Lazarus for San Diego City Council 2018                                                                                                                                                                  8
1280768       Neighborhoods for Clean Elections                                                                                                                                                                             6
1402751       Georgette Gomez for City Council 2016 Legal Defense Fund                                                                                                                                                      5
1409874       We The People for Monica Montgomery D4 City Council 2018                                                                                                                                                      4
1395292       Public Land, Public Vote, a coalition of San Diego taxpayers, community planners, local businesses, and education, park and environmental advocates.  Major funding by H.G. Fenton Company and Sudberr        3
1392688       Communities for a Better Tomorrow by Chris Cate                                                                                                                                                               2
1384904       San Diegans Against Hate opposing Lorie Zapf for City Council 2018 sponsored by building and construction trades organizations                                                                                2
1363108       California Voter Project                                                                                                                                                                                      2
1399478       Yes! For a Better San Diego - supported by a coalition of downtown tourism and lodging organizations, civic and community activists and homeless advocates. Sponsored by the San Diego Lodging Industry       2
1408552       San Diegans for the Common Good                                                                                                                                                                               1
1377434       Gomez for City Council 2016                                                                                                                                                                                   1
1335312       San Diego Regional Chamber of Commerce Political Action Committee                                                                                                                                             1
1258295       San Diego Restaurant and Beverage Political Action Committee sponsored by California Restaurant Association                                                                                                   1
811267        San Diego Police Officers Assn. Political Action Committee                                                                                                                                                    1
dtype: int64

In [10]:
df_combined.groupby('contributor_occ').contributor_occ.size()

contributor_occ
ACCOUNATNT                                              1
ADJUNCT PROFESSOR                                       3
ADMIN                                                   4
ANALYTICS                                               1
ASSISTANT                                               3
ATTORNEY                                                5
AVP - Real Estate Development & Community Relations     1
Academic Dean                                           1
Account Executive                                       2
Account Manager                                         4
Accountant                                             12
Accounting                                              1
Accounting Tech                                         2
Acquisitions & Mergers Consultant                       2
Acquisitions Analyst                                    2
Acquistion Associate                                    2
Acting Exec Director                                    1
Actuary                                                 4
Acupuncture                                             2
Acupuncture & Educator                                  1
Acupuncturist                                           1
Adjunct Faculty                                         1
Adjunct Professor                                       5
Admin Analyst                                           5
Admin Assistant                                         1
Administration                                          1
Administrative Aide                                     1
Administrative Analyst                                  6
Administrative Assistant                                3
Administrative Coordinator - Women's Studies            1
                                                       ..
Vice-President - Program Development                    1
Vice-President, Program Development                     1
Video Producer                                          1
Videographer                                            1
Warehouse                                               1
Water Consultant                                        2
Water Department Manager                                1
Water Manager                                           1
Water Resources Consultant                              1
Wealth Management                                       3
Wealth Manager                                          2
Wealth Strategist                                       1
Web Developer                                           1
Web Development Consultant                              4
Webmaster                                               1
Website Design/SEO                                      1
Website Designer                                        1
Wedding Officiant                                       7
West Region President                                   1
Window/Door Sales and Installation                      1
Workforce Readiness Manager                             1
Writer                                                 13
Writer/Business Manager                                 1
Writer/Producer                                         2
Writer/Researcher                                       1
Yoga Instructor                                         2
Yoga Teacher                                            1
Youth & Family Development Director                     1
executive                                               1
retired                                                 1
Name: contributor_occ, Length: 1470, dtype: int64

In [11]:
df_by_id = df_combined.groupby(['recipient_id', 'contributor_occ']).size().reset_index(name='Count')

In [12]:
df_combined.groupby(['contributor_occ', 'recipient_id']).size().reset_index(name='Count')

                                        contributor_occ  recipient_id  Count
0                                            ACCOUNATNT       1400617      1
1                                     ADJUNCT PROFESSOR       1397470      3
2                                                 ADMIN       1397470      4
3                                             ANALYTICS       1400617      1
4                                             ASSISTANT       1397470      3
5                                              ATTORNEY       1397470      5
6     AVP - Real Estate Development & Community Rela...       1394504      1
7                                         Academic Dean       1397080      1
8                                     Account Executive       1394460      2
9                                       Account Manager       1394143      1
10                                      Account Manager       1394460      2
11                                      Account Manager       1395590      1
12                                           Accountant       1394460      4
13                                           Accountant       1394941      1
14                                           Accountant       1395590      2
15                                           Accountant       1396315      3
16                                           Accountant       1398814      2
17                                           Accounting       1392688      1
18                                      Accounting Tech       1394941      2
19                    Acquisitions & Mergers Consultant       1398814      2
20                                 Acquisitions Analyst       1397529      2
21                                 Acquistion Associate       1394460      2
22                                 Acting Exec Director       1394460      1
23                                              Actuary       1394460      2
24                                              Actuary       1396315      2
25                                          Acupuncture       1398814      2
26                               Acupuncture & Educator       1398814      1
27                                        Acupuncturist       1398814      1
28                                      Adjunct Faculty       1398814      1
29                                    Adjunct Professor       1395389      1
...                                                 ...           ...    ...
2348                                   Water Consultant       1396315      2
2349                           Water Department Manager       1394941      1
2350                                      Water Manager       1399902      1
2351                         Water Resources Consultant       1394460      1
2352                                  Wealth Management       1394460      2
2353                                  Wealth Management       1397080      1
2354                                     Wealth Manager       1396315      2
2355                                  Wealth Strategist       1394460      1
2356                                      Web Developer       1395389      1
2357                         Web Development Consultant       1395389      4
2358                                          Webmaster       1394460      1
2359                                 Website Design/SEO       1395389      1
2360                                   Website Designer       1396315      1
2361                                  Wedding Officiant       1395389      7
2362                              West Region President       1398814      1
2363                 Window/Door Sales and Installation       1396315      1
2364                        Workforce Readiness Manager       1394504      1
2365                                             Writer       1394143      1
2366                                             Writer       1394460      1
2367                                             Writer       1396315      3
2368                                             Writer       1399902      8
2369                            Writer/Business Manager       1395389      1
2370                                    Writer/Producer       1398814      2
2371                                  Writer/Researcher       1377818      1
2372                                    Yoga Instructor       1395389      1
2373                                    Yoga Instructor       1396315      1
2374                                       Yoga Teacher       1396315      1
2375                Youth & Family Development Director       1394941      1
2376                                          executive       1398814      1
2377                                            retired       1280768      1

[2378 rows x 3 columns]

In [13]:
lorie_zapf = df_by_id[df_by_id['recipient_id'] == 1396315].sort_values(by='Count', ascending=False)
lorie_zapf.head() #district 2, rep, lost

      recipient_id contributor_occ  Count
1605       1396315         Retired    229
1535       1396315       President    123
1266       1396315        Attorney    109
1520       1396315           Owner     83
1567       1396315     Real Estate     61

In [14]:
jen_campbell = df_by_id[df_by_id['recipient_id'] == 1398814].sort_values(by='Count', ascending=False)
jen_campbell.head() #district 2, dem, won

      recipient_id contributor_occ  Count
2113       1398814         Retired    395
1962       1398814        Attorney    100
2074       1398814       Physician     31
2036       1398814       Homemaker     25
2060       1398814    Not Employed     20

In [15]:
monica_mont = df_by_id[df_by_id['recipient_id'] == 1397529].sort_values(by='Count', ascending=False)
monica_mont.head() #district 4, dem, won

      recipient_id  contributor_occ  Count
1915       1397529     Not Employed     20
1930       1397529          Retired     16
1883       1397529         Attorney     16
1896       1397529         Educator      4
1925       1397529  Program Manager      4

In [16]:
myrtle_cole = df_by_id[df_by_id['recipient_id'] == 1394504].sort_values(by='Count', ascending=False)
myrtle_cole.head() #district4, dem, lost

     recipient_id contributor_occ  Count
738       1394504         Retired     44
701       1394504       President     38
609       1394504        Attorney     31
619       1394504             CEO     30
691       1394504           Owner     28

In [17]:
chris_cate = df_by_id[df_by_id['recipient_id'] == 1394460].sort_values(by='Count', ascending=False)
chris_cate.head() #district 6, rep, won

     recipient_id contributor_occ  Count
520       1394460         Retired    143
456       1394460       President     98
196       1394460        Attorney     77
220       1394460             CEO     61
439       1394460           Owner     56

In [18]:
tommy_hough = df_by_id[df_by_id['recipient_id'] == 1399902].sort_values(by='Count', ascending=False)
tommy_hough.head() #district 6, dem, lost

      recipient_id        contributor_occ  Count
2245       1399902                Retired    119
2224       1399902           Not Employed     25
2190       1399902             Consultant     17
2172       1399902               Attorney     16
2185       1399902  Claims Representative      9

In [19]:
vivian_moreno = df_by_id[df_by_id['recipient_id'] == 1395590].sort_values(by='Count', ascending=False)
vivian_moreno.head() #district 8, dem, won

      recipient_id contributor_occ  Count
1171       1395590    Not Employed     78
1027       1395590        Attorney     68
1215       1395590         Retired     54
1174       1395590           Owner     41
1186       1395590       President     34

In [20]:
antonio_mart = df_by_id[df_by_id['recipient_id'] == 1394941].sort_values(by='Count', ascending=False)
antonio_mart.head() #district 8, dem, lost

     recipient_id contributor_occ  Count
898       1394941         Retired     94
862       1394941           Owner     32
871       1394941       President     31
792       1394941        Attorney     21
918       1394941         Teacher     20

In [31]:
df_combined.groupby('contributor_occ').size().sort_values(ascending=False).head()

contributor_occ
Retired         1278
Attorney         534
President        377
Owner            288
Not Employed     207
dtype: int64

In [22]:
retired = df_by_id[df_by_id['contributor_occ'] == 'Retired'].sort_values(by='Count', ascending=False)
retired.head()

      recipient_id contributor_occ  Count
2113       1398814         Retired    395
1605       1396315         Retired    229
520        1394460         Retired    143
2245       1399902         Retired    119
898        1394941         Retired     94

In [23]:
attorney = df_by_id[df_by_id['contributor_occ'] == 'Attorney'].sort_values(by='Count', ascending=False)
attorney.head()

      recipient_id contributor_occ  Count
1266       1396315        Attorney    109
1962       1398814        Attorney    100
196        1394460        Attorney     77
1027       1395590        Attorney     68
938        1395389        Attorney     34

In [24]:
president = df_by_id[df_by_id['contributor_occ'] == 'President'].sort_values(by='Count', ascending=False)
president.head()

      recipient_id contributor_occ  Count
1535       1396315       President    123
456        1394460       President     98
701        1394504       President     38
1186       1395590       President     34
871        1394941       President     31

In [25]:
owner = df_by_id[df_by_id['contributor_occ'] == 'Owner'].sort_values(by='Count', ascending=False)
owner.head()

      recipient_id contributor_occ  Count
1520       1396315           Owner     83
439        1394460           Owner     56
1174       1395590           Owner     41
862        1394941           Owner     32
691        1394504           Owner     28

In [26]:
not_emp = df_by_id[df_by_id['contributor_occ'] == 'Not Employed'].sort_values(by='Count', ascending=False)
not_emp.head()

      recipient_id contributor_occ  Count
1171       1395590    Not Employed     78
968        1395389    Not Employed     28
2224       1399902    Not Employed     25
120        1394143    Not Employed     22
1915       1397529    Not Employed     20

In [27]:
real_estate = df_by_id[df_by_id['contributor_occ'] == 'Real Estate'].sort_values(by='Count', ascending=False)
real_estate.head()

      recipient_id contributor_occ  Count
1567       1396315     Real Estate     61
490        1394460     Real Estate     53
1202       1395590     Real Estate     27
721        1394504     Real Estate     26
1768       1397080     Real Estate      8

In [32]:
homemaker = df_by_id[df_by_id['contributor_occ'] == 'Homemaker'].sort_values(by='Count', ascending=False)
homemaker.head()

      recipient_id contributor_occ  Count
1443       1396315       Homemaker     59
373        1394460       Homemaker     54
2036       1398814       Homemaker     25
672        1394504       Homemaker     15
839        1394941       Homemaker     12

In [33]:
ceo = df_by_id[df_by_id['contributor_occ'] == 'CEO'].sort_values(by='Count', ascending=False)
ceo.head()

      recipient_id contributor_occ  Count
220        1394460             CEO     61
1288       1396315             CEO     51
619        1394504             CEO     30
795        1394941             CEO     15
1715       1397080             CEO      9